<div class="container-fluid" data-ng-controller="HeaderController" >

	<div class="navbar-header" style="padding: 10px 10px 10px 10px;">

		<a href="{{redirectHome}}"> <img src="./img/brand/iWealthLogo.png" alt="Logo" style="max-width:150px; height:auto;" class="img-responsive pull-left"/></a>

		<button class="navbar-toggle pull-right" type="button" data-ng-click="toggleCollapsibleMenu()">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
		<!--<a href="/#!/" class="navbar-brand">I-Wealth</a>-->
		<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation" style="padding: 10px 10px 0px 10px;">


			<ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user.roles[0].localeCompare('admin') !== 0);" style="padding: 0px 0px 0px 0px; ">
				<li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
					<a ng-switch-when="dropdown" class="dropdown-toggle" dropdown-toggle>
						<span data-ng-bind="item.title"></span>
						<b class="caret"></b>
					</a>
					<ul ng-switch-when="dropdown" class="dropdown-menu">
						<li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
							<a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
						</li>
					</ul>
					<a ng-switch-default href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
				</li>
			</ul>
			<!-- User profile dropdown-->
			<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
				<li ui-route="/signup" ng-class="{active: $uiRoute}">
					<a href="/#!/signup">Sign Up</a>
				</li>
				<li class="divider-vertical"></li>
				<li ui-route="/signin" ng-class="{active: $uiRoute}">
					<a href="/#!/signin">Sign In</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
				
				<li class="dropdown" dropdown data-ng-controller="NotificationController" data-ng-show="authentication.user.roles[0] === 'user'">
					<a class="dropdown-toggle" dropdown-toggle style="padding-right:5px;padding-left:5px;" ng-click="viewNotification()">
						<span class="glyphicon glyphicon-bell" style="font-size: 1.5em;padding-top:4px;"></span>
						<span class="badge badge-notify" style="top:-15px;left:-15px;position:relative;background:red;margin:0px;" ng-hide="numNotification === 0">{{numNotification}}</span>
						<span class="badge badge-notify" style="top:-15px;left:-15px;position:relative;background:transparent;margin:0px;color:transparent;" ng-show="numNotification === 0">{{numNotification}}</span>
					</a>
					<ul class="dropdown-menu">
						<li ng-repeat="item in list" style="padding:5px;width:200px;text-align:center;">
							<b>{{item.title}}</b><br>
							{{item.content}}
						</li>
						<li class="divider"></li>
						<li>
							<a href="/#!/settings/notification" class="text-center">View All</a>
						</li>
					</ul>
				</li>
				
				<li class="dropdown" dropdown>
					<a class="dropdown-toggle" dropdown-toggle>
						<img ng-if="imageReady" style="border:1px solid gray;width:30px;height:30px;border-radius: 50%;" ng-src="{{imageUrl}}" />
						<!-- <span data-ng-bind="authentication.user.displayName"></span>  -->
						<!-- <b class="caret"></b> -->
					</a>
					<ul class="dropdown-menu">
						<li style="text-align:center;">
							<b><span data-ng-bind="authentication.user.displayName"></span></b>
						</li>
						<li class="divider"></li>
						<li data-ng-show="authentication.user.roles[0] === 'user'">
							<a href="/#!/settings/profile">Edit Profile</a>
						</li >
						<li data-ng-show="authentication.user.provider === 'local' && authentication.user.roles[0] === 'user'">
							<a href="/#!/settings/password">Change Password</a>
						</li>
						<li class="divider" data-ng-show="authentication.user.roles[0] === 'user'"></li>
						<li>
							<a href="/auth/signout">Signout</a>
						</li>
					</ul>
				</li>
			</ul>

		</nav>

</div>