<section data-ng-controller="HomeController" class="content">
	<div class="row">
	  		<div class="col-lg-4 col-md-6">
	  			<div class="panel panel-home">
		  			<div class="panel-heading">
		  				<div class="row">
		  					<div class="col-xs-3">
		  						<i class="fa fa-user fa-3x"></i>
		  					</div>
		  					<div class="col-xs-9 text-left">
                                <div class="huge">Profile</div>
                                
                            </div>
		  				</div>
		  			</div>			
					<div class="panel-footer">
						<div class="row">	
							<div class="col-md-12">
								<p>Profile Completion Status:</p>
                                <progressbar value="completeBar">{{completeBar}}%</progressbar>
							</div>
						</div>
						<div class="row" ng-hide="profileCompleteness">
							<div class="col-md-12">						
								<b>To complete your Profile: </b>	
								<li ng-hide="user.completeQns"><em>Update your </em><a href="#!/settings/questionnaire">Credit Profile</a></li>
								<li ng-hide="user.updatedAssets"><em>Update your </em><a href="#!/financialrecord/assets">Assets records</a></li>
								<li ng-hide="user.updatedLiabilities"><em>Update your </em><a href="#!/financialrecord/liabilities">Liabilities records</a></li>
								<li ng-hide="user.updatedIncomeExpense"><em>Update your </em><a href="#!/financialrecord/incomeExpense">Income & Expense records</a></li>
								<li ng-hide="user.updatedManageDebt"><em>Update your </em><a href="#!/financialrecord/debts">Debt Management record</a></li>
								<li ng-hide="user.updatedMilestones"><em>Update your </em><a href="#!/milestones">Milestones records</a></li>				
								<li ng-hide="user.updatedProfileSettings"><em>Update your </em><a href="#!/settings/profile">Profile Settings</a></li>
				<!-- 			<li ng-hide="user.updatedBudget"> Budget record not updated</li>
								<li ng-hide="user.updatedAddFriend"> Add Frienc record not updated</li> -->
							</div>
						</div>	
						<div class="row" ng-show="profileCompleteness">	
							<div class="col-md-12">	
								<b>Next Steps: </b><em>Expand your network!</em> </br>
								Feature available soon
									
							</div>
						</div>
					</div>
				</div>
	  		</div>

	  		<div class="col-lg-4 col-md-6">
	  			<div class="panel panel-home">
	  				<div class="panel-heading">
		  				<div class="row">
		  					<div class="col-xs-3">
		  						<i class="fa fa-trophy fa-3x"></i>
		  					</div>
		  					<div class="col-xs-9 text-left">
                                <div class="huge">Credit Worthiness</div>
                            </div>
		  				</div>
		  			</div>
		  			<div class="panel-footer">	
				  		<div class="row">
				  			<div class="col-md-12">
				  				<img src="{{rankIcon}}" style="max-width:100px; height:auto;" class="img-responsive center-block">
				  			</div>
				  		</div>
				  		<div class="row text-center">
				  			<div class="col-md-12">
								<strong>Credit Rating:</strong> <em>{{creditGrade[0]}} </em><br>
								<br>
								<strong>Credit Analysis</strong></br>
								<em>{{creditGrade[1]}} </em><br>
							</div>
						</div>
					</div>
				</div>
	  		</div>

	  		<div class="col-lg-4 col-md-6" data-ng-controller="FinancesController" >
	  			<!-- <div class="panel panel-home" ng-init="selectedMonth = monthArr[month]"> -->
	  			<div class="panel panel-home">
		  			<div class="panel-heading">
		  				<div class="row">
		  					<div class="col-xs-3">
		  						<i class="fa fa-medkit fa-3x"></i>
		  					</div>
		  					<div class="col-xs-9 text-left">
                                <div class="huge">Financial Health</div>
                            </div>
		  				</div>
		  			</div>
		  			<div class="panel-footer">
						<div class="row">
							<div class="col-md-12">
								<p>Ratio Overview:	</p>
								<progress><bar ng-repeat="bar in homeHealth track by $index" value="bar.value" type="{{bar.type}}"></bar></progress>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<span ng-hide="homeHealthDisplay">No data available</span>
							</div>	 
							<span ng-show="homeHealthDisplay">
							 	<div class="col-md-6">
							 		<h4>Healthy Ratios</h4>
									<div ng-repeat="item in homeHealthyRatioArr">							
										<li><em>{{item}}</em></li>
									</div>
								</div>
							 	<div class="col-md-6">
							 		<h4>Unhealthy Ratios</h4>
									<div ng-repeat="item in homeUnHealthyRatioArr">							
										<li><em>{{item}}</em></li>
									</div>
								</div>
							</span>					
						</div>
					</div>
				</div>
			</div>
	</div>

	<!--Show milestones overview -->
	<div class="row">
		<div class="col-lg-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-money fa-fw"></i> Budget Overview
				</div>
				<div class="panel-body">
					<p class="lead">To input progress of budgets here</p>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-flag fa-fw"></i> Milestones Overview
				</div>
				<div class="panel-body">
					<p class="lead">To input progress of milestones here</p>
				</div>
			</div>
		</div>
	</div>

	<!-- For advertisements-->
	<!--
	<div class="row">   		
		<div class="col-xs-6 col-md-2 advertisement">
  		<h3>Advertisement here</h3>
  		</div>
  	</div>
  	-->
</section>