<section data-ng-controller="LandingController">
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-md-7">
                    <div class="intro-message">
                        <h3>
                        	Begin your wealth journey with <img src="/img/brand/iWealthLogo.png" width="15%">. With a suite of financial planning tools, you will be empowered to manage your own finances, set and achieve milestones, monitor your financial health and enhance your financial literacy. 
                        </h3>
                        <h2>
                        	Your money is in your control, so be in control today with
                        </h2>
                        <img src="/img/brand/iWealthLogo.png" width="50%">
                        <hr class="intro-divider">
                        <h4> 
                        	Connect to your finances everywhere you go! <img src="/img/brand/iWealthLogo.png" width="10%"> is available on web and mobile!*
                        	<br><br>
	                        <img src="/img/landing/platforms.png" width="100%">
	                        <br>
	                        <small>*Note: i-wealth works best on Chrome and Mozilla Firefox. i-wealth is only available on the Google Playstore</small>
	                    </h4>
                        
                    	</div> 
                    
                </div>
                <div class="col-md-1">
                </div>
                <!-- Sign Up Section -->
                <div class="col-md-4">
                	<div class="landing-signup" ng-hide="user" data-ng-controller="AuthenticationController">
                        
                		<center><h3 style="color:white">Sign Up Now</h3></center>
						<form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
							<fieldset>
								<div data-ng-show="error" class="text-center text-danger">
									<strong data-ng-bind="error"></strong>
								</div>			
								<div class="form-group">
									<label for="firstName">First Name</label>
									<input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="First Name">
								</div>
								<div class="form-group">
									<label for="lastName">Last Name</label>
									<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Last Name">
								</div>
								<div class="form-group">
									<label for="email">Email</label>
									<input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
								</div>
								<div class="form-group">
									<label for="password">Password</label>
									<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password (minimum 6 characters)">
								</div>
								<div class="text-center form-group">
									<button type="submit" class="btn btn-md btn-default">Sign up</button>&nbsp; or&nbsp;
									<a href="/#!/signin" class="btn btn-sm btn-primary">Sign in</a>
								</div>
							</fieldset>
						</form>
                          
					</div>   
                </div>

            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.intro-header -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Find out more about your credit rating</h2>
                    <p class="lead">Everyone spends money using credit and not managing your credit usage might lead to being in debt. Hence, knowing your credit rating and how it is determined as it gives you insight on how to maintain a good credit rating and a good financial health in general.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/landing/creditrating.png" alt="Credit Rating">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Never lose track of your finances!</h2>
                    <p class="lead">Tracking your finances such as assets, liabilities, income and expenses will allow you to know your financial situation clearly. A basic step in managing personal finance!</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="/img/landing/managefinances.png" alt="Manage Personal Finance">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b --> 

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Set budget limits for your expenses and stick to them!</h2>
                    <p class="lead">Keeping track of your daily cash/credit transactions will allow you to see where your money is <i>REALLY</i> going. Set a budget limit to ensure you don’t overspend or reward yourself if you feel that you’ve been on a good spending behaviour that month! <i class="fa  fa-smile-o"></i></p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/landing/cashexpensetracker.png" alt="Cash Expense Tracker">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->


    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Have a goal in mind? We’ll lend a hand to help you achieve it. </h2>
                    <p class="lead">Set financial milestones that you want to achieve and we’ll help you! <img src="/img/brand/iWealthLogo.png" width="15%">  will calculate how much you should be saving to achieve your milestone on time and track your progress along the way.. like your personal finance trainer!</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="/img/landing/milestones.png" alt="Milestones">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b --> 


       <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-8">
                    <h2 style="color:white">What are you waiting for! Manage your finances and grow your wealth now!</h2>
                    <br>
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="http://i-wealth.herokuapp.com/#!/signup" class="btn btn-default btn-lg"><i class="fa fa-sign-in fa-fw"></i> <span class="network-name">Sign Up Now!</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

	<!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; I-Wealth 2015. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
</section>
