<section data-ng-controller="LandingController">
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-md-7">
                    <div class="intro-message">
                        <img src="/img/brand/iWealthLogo.png" width="50%">
                        <h3>Begin your wealth journey today</h3>
                        <hr class="intro-divider">
                        <div class="service-list">
	                        <div class="col-sm-6">
					            <span class="fa-stack fa-2x" style="color:#ad9634">
									<i class="fa fa-circle fa-stack-2x fa-inverse"></i>
									<i class="fa fa-area-chart fa-stack-1x"></i>
								</span>
				                <h4>View and track your Credit Rating.</h4>
	                        </div>
                       
	                        <div class="col-sm-6">
								<span class="fa-stack fa-2x" style="color:#ad9634">
									<i class="fa fa-circle fa-stack-2x fa-inverse"></i>
									<i class="fa fa-medkit fa-stack-1x"></i>
								</span>
				                <h4>View and track your Financial Health Ratios.</h4>
	                        </div>
	                        <div class="col-sm-6">
								<span class="fa-stack fa-2x" style="color:#ad9634">
									<i class="fa fa-circle fa-stack-2x fa-inverse"></i>
									<i class="fa fa-tasks fa-stack-1x"></i>
								</span>
				                <h4>Manage and track your debts</h4>
	                        </div>
	                        <div class="col-sm-6">
								<span class="fa-stack fa-2x" style="color:#ad9634">
									<i class="fa fa-circle fa-stack-2x fa-inverse"></i>
									<i class="fa fa-money fa-stack-1x"></i>
								</span>
				                <h4>Budget Planing</h4>
	                        </div>
	                        <div class="col-sm-6">
								<span class="fa-stack fa-2x" style="color:#ad9634">
									<i class="fa fa-circle fa-stack-2x fa-inverse"></i>
									<i class="fa fa-bullseye fa-stack-1x"></i>
								</span>
				                <h4>Set goals and achieve them</h4>
	                        </div>
	                        <div class="col-sm-6">
								<span class="fa-stack fa-2x" style="color:#ad9634">
									<i class="fa fa-circle fa-stack-2x fa-inverse"></i>
									<i class="fa fa-table fa-stack-1x"></i>
								</span>
				                <h4>Compare loans, insurances, and more!</h4>
	                        </div>
                    	</div>
                    </div>
                    <hr class="intro-divider2">
                </div>
                <div class="col-md-1">
                </div>
                <!-- Sign Up Section -->
                <div class="col-md-3">
                	<div class="landing-signup" ng-hide="user" data-ng-controller="AuthenticationController">
                		<center><h3>Sign Up Now</h3></center>
						<form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
							<fieldset>
								<div data-ng-show="error" class="text-center text-danger">
									<strong data-ng-bind="error"></strong>
								</div>			
								<div class="form-group">
									<label for="firstName">First Name</label>
									<input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="First Name">
								</div>
								<div class="form-group">
									<label for="lastName">Last Name</label>
									<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Last Name">
								</div>
								<div class="form-group">
									<label for="email">Email</label>
									<input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
								</div>
								<div class="form-group">
									<label for="password">Password</label>
									<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
								</div>
								<div class="text-center form-group">
									<button type="submit" class="btn btn-md btn-default">Sign up</button>&nbsp; or&nbsp;
									<a href="/#!/signin" class="btn btn-sm btn-primary">Sign in</a>
								</div>
							</fieldset>
						</form>   
					</div>   
                </div>

            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

   <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Why I-Wealth?
                    <p class="lead">Having trouble collating your finances and keeping them in check regularly? Look no further! I-Wealth is the platform to manage your personal finances through identifying your financial health and providing you with tools to aid in your journey to grow your wealth.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="/img/landingpage-1.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b --> 

	<div class="footer">
			<!-- TO insert contact info, about us, etc -->
	</div>
</section>
