<section data-ng-controller="LoanCalculatorController" class="content">
  <ul class="nav nav-tabs">
    <li role="presentation" ><a href="/#!/financialtools">How much will my repayments be?</a></li>
    <li role="presentation" class="active"><a href="/#!/financialtools/amtborrow">How much can I borrow?</a></li>
    <li role="presentation"><a href="/#!/financialtools/timetorepay">How can I repay my loan sooner?</a></li>
  </ul>
  <div id="AmtToBorrowCalculator" class="row">
      <div class="col-sm-4">
        <form name='CalculatorForm2' novalidate role='form'>
          <fieldset>
            <legend>Personal Loan Calculator</legend>
              <div class='form-group'>
                <label for='affordableRepayment'>How much can you pay per month? </label>
                <input class='form-control' ng-model='calculator.affordableRepayment' name='affordableRepayment' type='number' min="1" required>
                <span class='help-block' ng-show='CalculatorForm2.affordableRepayment.$error.required'>How much can you pay per month is required</span>
              </div>
              <div class='form-group'>
                <label for='interestRate2'>Applied Interest Rate (per annum): </label>
                <input class='form-control' ng-model='calculator.interestRate2' name='interestRate2' type='number' min="0.01" required>
                <span class='help-block' ng-show='CalculatorForm2.interestRate2.$error.required'>Applied Interest rate per annum is required</span>
              </div>
              <div class='form-group'>
                <label for='loanTermYears2'>Loan Term in Years: </label>
                <input class='form-control' ng-model='calculator.loanTermYears2' name='loanTermYears2' type='number' min="0.1" required>
                <span class='help-block' ng-show='CalculatorForm2.loanTermYears2.$error.required'>Loan Term in Years is required</span>
              </div>       

              <h4>Results - Principal amount to borrow: {{principalAmtToBorrow | currency}}</h4>
              <h4>Results - Interest paid: {{interestPaid | currency}}</h4>
                     
              <button class='btn btn-primary' ng-click='calculatePrincipalAmtToBorrow()' ng-disabled='CalculatorForm2.$invalid'> Submit
              </button>
          </fieldset>
        </form>
       </div>

       <div>
        <canvas id="calculatorBarChart2" class="chart chart-bar" data="barData2" labels="barLabels2" legend="true" series="barSeries2"></canvas> 
       </div>  
  </div>

</section>