<section data-ng-controller="LoanCalculatorController" class="content">
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/#!/financialtools/loancalculator">How much will my repayments be?</a></li>
    <li role="presentation"><a href="/#!/financialtools/amtborrow">How much can I borrow?</a></li>
    <li role="presentation"><a href="/#!/financialtools/timetorepay">How can I repay my loan sooner?</a></li>
  </ul>
    <div class="row">
    <div class="col-md-6">
      <h3>Total Cost of Loan</h3>
      <p>This calculator calculates the total amount you will have to pay the bank which includes both the interest rates and the principal amount borrowed and also the minimum monthly repayment for your loan period.</p>
    </div>    
  </div>
  <hr>
  <br/>
  <div class="col-md-6">
    <form name='CalculatorForm' class="form-horizontal" novalidate role='form'>
      <fieldset>
        <div class='form-group'>
          <label for='amtBorrowed' class="col-md-4" style="text-align:right">Amount Borrowed: $</label>
          <div class="col-md-8">
            <input class='form-control' ng-model='calculator.amtBorrowed' name='amtBorrowed' type='number' min="1" required>
            <span class='help-block' ng-show='CalculatorForm.amtBorrowed.$error.required'>Amount Borrowed is required</span>  
          </div>      
            
        </div>
        <div class='form-group'>
          <label for='loanTermYears' class="col-md-4" style="text-align:right">Loan Term in Years: </label>
          <div class="col-md-8">
            <input class='form-control' ng-model='calculator.loanTermYears' name='loanTermYears' type='number' min="0.1" required>
            <span class='help-block' ng-show='CalculatorForm.loanTermYears.$error.required'>Loan Term in Years is required</span>              
          </div>
        </div>
        <div class='form-group'>
          <label for='interestRate' class="col-md-4" style="text-align:right">Applied Interest Rate (per annum): </label>
          <div class="col-md-8">
            <input class='form-control' ng-model='calculator.interestRate' name='interestRate' type='number' min="0.01" required>
            <span class='help-block' ng-show='CalculatorForm.interestRate.$error.required'>Applied Interest Rate is required</span>              
          </div>
        </div>
        <div class='form-group'>
          <label for='fees' class="col-md-4" style="text-align:right">Processing fee: $</label>
          <div class="col-md-8">
            <input class='form-control' ng-model='calculator.fees' name='fees' type='number' min="0" required>
            <span class='help-block' ng-show='CalculatorForm.fees.$error.required'>Processing fee is required</span>              
          </div>
        </div>
        <div class="col-md-4 pull-right">                
          <button class='btn btn-primary btn-lg btn-block' ng-click='calculateMonthyRepaymentSum()' ng-disabled='CalculatorForm.$invalid'> Submit
          </button>
        </div>
      </fieldset>
    </form>
    <br/><br/>
  </div>
  
  <div class="col-md-6">
    <div class="bg-info" style="padding:20px">
      <div class="row">
        <div class="col-md-12">
          <h4>Minimum monthly repayments is {{monthlyRepaymentSum | currency}}.</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4>Total cost of loan is {{totalCostLoan | currency}}.</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4>You will be paying an additional amount of {{results | currency}}.</h4>
        </div>
      </div>
    </div>        
    <!--<canvas id="calculatorBarChart" class="chart chart-bar" data="barData" labels="barLabels" legend="true" series="barSeries" ></canvas>--> 
  </div>

</section>