<section data-ng-controller="LoanCalculatorController" class="content">
  <ul class="nav nav-tabs">
    <li role="presentation" ><a href="/#!/financialtools/loancalculator">How much will my repayments be?</a></li>
    <li role="presentation" ><a href="/#!/financialtools/amtborrow">How much can I borrow?</a></li>
    <li role="presentation" class="active"><a href="/#!/financialtools/timetorepay">How can I repay my loan sooner?</a></li>
  </ul>

	<div id="TimeToRepayCalculator" class="row">
    <div class="col-sm-4">
      <form name='CalculatorForm3' novalidate role='form'>
        <fieldset>
          <legend>Personal Loan Calculator</legend>
            <div class='form-group'>
              <label for='amtOwing'>Amount Owing: </label>
              <input class='form-control' ng-model='calculator.amtOwing' name='amtOwing' type='number' min="1" required>
              <span class='help-block' ng-show='CalculatorForm3.amtOwing.$error.required'>Amount Owing is required</span>
            </div>
            <div class='form-group'>
              <label for='monthlyRepayment'>Monthly Repayment: </label>
              <input class='form-control' ng-model='calculator.monthlyRepayment' name='monthlyRepayment' type='number' min="1" required>
              <span class='help-block' ng-show='CalculatorForm3.monthlyRepayment.$error.required'>Monthly Repayment is required</span>
            </div>
            <div class='form-group'>
              <label for='interestRate3'>Applied Interest Rate (per annum): </label>
              <input class='form-control' ng-model='calculator.interestRate3' name='interestRate3' type='number' min="0.01" required>
              <span class='help-block' ng-show='CalculatorForm3.interestRate3.$error.required'>Applied Interest Rate is required</span>
            </div>        

            <h4>Results - Time to repay: {{timeToRepay}}</h4>
                   
            <button class='btn btn-primary' ng-click='calculateTimeToRepay()' ng-disabled='CalculatorForm3.$invalid'> Submit
            </button>
        </fieldset>
      </form>
     </div>

     <div>
      <canvas id="calculatorBarChart3" class="chart chart-bar" data="barData3" labels="barLabels3" legend="true" series="barSeries3"></canvas> 
     </div>    
</div>

</section> 