<section class="content" data-ng-controller="AdminController">
	<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-tabs">
			  <li role="presentation"><a href="/#!/admin/home">Home</a></li>
			  <li role="presentation"><a href="/#!/admin/users">Manage Users</a></li>
			  <li role="presentation"><a href="/#!/admin/assets">Manage Assets</a></li>
			  <li role="presentation" class="active"><a href="/#!/admin/statistics">Statistics</a></li>
			</ul>
		</div>	
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-2">
			<div ng-include src="'/modules/admin/views/admin-sidebar.client.view.html'"></div>				
		</div>	
		<div class="col-xs-12 col-sm-12 col-md-10">
			<h3>Users Milestone Completion Rate</h3>
		</div>		
	</div>	

</section>