
	<div class="navbar-default sidebar" role="navigation">
		<div class="sidebar-nav navbar-collapse">
			<ul class="nav" id="side-menu">
			  <li><a href="/#!/admin/statistics">User Demographics</a></li>
			  <li><a href="/#!/admin/statistics/financialHealth">Financial Health of users</a></li>
			  <li><a href="/#!/admin/statistics/financialSummary">Usage of Financial Summary Function</a></li>
			  <li><a href="/#!/admin/statistics/milestones">Users milestones completion rate</a></li>
			  <li><a href="/#!/admin/statistics/socialActivity">Social Activity</a></li>
			</ul>
		</div>
	</div>		



