<section data-ng-controller="PostsController" class="content" data-ng-init="findOne()">
  <div class="row">
    <h1>Edit Post</h1>
    <div class="col-md-8">
      <form name="postForm" class="form-horizontal" data-ng-submit="editPost(postForm)" novalidate>
        <fieldset>
          <div class="form-group">
            <label class="control-label" for="title">Title</label>
            <div class="controls">
              <textarea name="title" data-ng-model="post.title" id="title" class="form-control" cols="30" rows="1" placeholder="Title"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="content">Content</label>
            <div class="controls">
              <textarea name="content" data-ng-model="post.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
            </div>
          </div>
          <div class="form-group form-inline">
            <label class="control-label" for="privacy">Privacy: </label>
            <select class="form-control" name="privacy" data-ng-model="post.privacy">
              <option value="public">Public</option>
              <option value="friends">Friends</option>
              <option value="private">Private</option>
            </select>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Edit">
            <a class="btn btn-default" role="button" onclick="history.back()">Back</a>
          </div>
          <div data-ng-show="error" class="text-danger">
            <strong data-ng-bind="error"></strong>
          </div>
        </fieldset>
      </form>
    </div>    
  </div>

</section>