<section data-ng-controller="PostsController"> 
  <div class="row">
    <div class="col-md-12" style="margin-bottom:0px;">
      <div class="form-group form-inline" >
        <label class="control-label" for="postFilter"><h4>View Posts: </h4></label>
        <select class="form-control" name="postFilter" data-ng-model="postFilter">
          <option value="public" selected>All</option>
          <option value="friends">Friends</option>
          <option value="personal">Personal</option>
        </select>
        <a class="btn btn-primary pull-right" role="button" ng-click="newPost()">Create New Post</a>  
          <!-- <a data-toggle="modal" data-target="#createPost" class="btn btn-primary pull-right" role="button">Create New Post</a> -->
          <!--
          <div class="modal fade" id="createPost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Create New Post</h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-12">

                    </div>
                  </div>
                </div> 
                <div class="modal-footer">

                </div>
              </div>
            </div>
          </div> -->
      </div>          
    </div>
  </div>   

  <div class="list-group scrollArea" ng-if="postFilter === 'public'" data-ng-init="findPostsPublic()">
    <a data-ng-repeat="post in posts" class="panel panel-default list-group-item" style="padding-bottom:0px; margin-right:1px;">
      <div class="row">
        <div class="col-md-10">
          <div class="inline">
            <img data-ui-sref="viewProfile({profileId: post.user._id})" style="border:1px solid gray;width:50px; height:50px; max-width:100%; max-height:100%;"  id="preview" ng-src="{{imageUrl}}{{post.user.profilePic}}" />              
          </div>
          <div class="inline">
              <medium data-ui-sref="viewProfile({profileId: post.user._id})">
                <b><span data-ng-bind="post.user.firstName"></span></b>
                <b><span data-ng-bind="post.user.lastName"></span></b>
              </medium>               
            </br>    
            <small class="list-group-item-text">
              Posted on
              <i><span data-ng-bind="post.created | date:'d/M/yy h:mm a'"></span></i>    
              <span data-ng-if="post.privacy === 'public'">(Public)</span> 
              <span data-ng-if="post.privacy === 'friends'">(Friends Only)</span> 
              <span data-ng-if="post.privacy === 'private'">(Private)</span>   
            </small>        
          </div>      
        </div>
        <div class="col-md-2">
          <div class="row">
            <div class="col-md-12">
              <div class="dropdown" >
                <span class="dropdown-toggle pull-right" id="postMenu" data-toggle="dropdown"><i class="glyphicon glyphicon-option-vertical"></i></span>  
                </br>
                <ul class="dropdown-menu">
                  <li style="padding-left:10px;" data-ui-sref="postView({postId: post._id})" ng-style="menuColor" ng-mouseenter="changeColor(i,true)" ng-mouseleave="changeColor(i,false)">View Post</li>
                </ul>                         
              </div>                 
            </div>
          </div>   
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <h4 class="list-group-item-heading" data-ng-bind="post.title"></h4>
          <p class="list-group-item-text" data-ng-bind-html="post.content"></p>           
        </div>
      </div>
      <div class="row" style="margin-top:5px; padding:5px 0px ; margin-bottom:0px; background-color:#f6f6f6;">  
        <div class="col-md-2" style="margin:0px; ">
          <div ng-click="upPost(post._id)" class="btn btn-xs btn-default" ng-class="{selectedPost: post.up === true}">
            <span class="glyphicon glyphicon glyphicon-arrow-up"></span>
            <span>{{post.upVote.length}} Points</span>
          </div>
        </div>
        <div class="col-md-3" style="margin:0px;">
          <div class="btn btn-xs btn-default" data-ui-sref="postView({postId: post._id})">
            <span class="glyphicon glyphicon-comment"></span>
            <span>Comments (<span data-ng-bind="post.comments.length"></span>)</span>            
          </div>
        </div>  
      </div>
    </a>
  </div>

  <div class="list-group scrollArea" ng-if="postFilter === 'friends'" data-ng-init="findPostsFriends()">
    <a data-ng-repeat="post in posts" class="panel panel-default list-group-item" style="padding-bottom:0px; margin-right:1px;">
      <div class="row">
        <div class="col-md-10">
          <div class="inline">
            <img data-ui-sref="viewProfile({profileId: post.user._id})" style="border:1px solid gray;width:50px; height:50px; max-width:100%; max-height:100%;"  id="preview" ng-src="{{imageUrl}}{{post.user.profilePic}}" />              
          </div>
          <div class="inline">
              <medium data-ui-sref="viewProfile({profileId: post.user._id})">
                <b><span data-ng-bind="post.user.firstName"></span></b>
                <b><span data-ng-bind="post.user.lastName"></span></b>
              </medium>               
            </br>    
            <small class="list-group-item-text">
              Posted on
              <i><span data-ng-bind="post.created | date:'d/M/yy h:mm a'"></span></i>    
              <span data-ng-if="post.privacy === 'public'">(Public)</span> 
              <span data-ng-if="post.privacy === 'friends'">(Friends Only)</span> 
              <span data-ng-if="post.privacy === 'private'">(Private)</span>   
            </small>        
          </div>      
        </div>
        <div class="col-md-2">
          <div class="row">
            <div class="col-md-12">
              <div class="dropdown" >
                <span class="dropdown-toggle pull-right" id="postMenu" data-toggle="dropdown"><i class="glyphicon glyphicon-option-vertical"></i></span>  
                </br>
                <ul class="dropdown-menu">
                  <li style="padding-left:10px;" data-ui-sref="postView({postId: post._id})" ng-style="menuColor" ng-mouseenter="changeColor(i,true)" ng-mouseleave="changeColor(i,false)">View Post</li>
                </ul>                         
              </div>                 
            </div>
          </div>   
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <h4 class="list-group-item-heading" data-ng-bind="post.title"></h4>
          <p class="list-group-item-text" data-ng-bind-html="post.content"></p>           
        </div>
      </div>
      <div class="row" style="margin-top:5px; padding:5px 0px ; margin-bottom:0px; background-color:#f6f6f6;">  
        <div class="col-md-2" style="margin:0px; ">
          <div ng-click="upPost(post._id)" class="btn btn-xs btn-default" ng-class="{selectedPost: post.up === true}">
            <span class="glyphicon glyphicon glyphicon-arrow-up"></span>
            <span>{{post.upVote.length}} Points</span>
          </div>
        </div>
        <div class="col-md-3" style="margin:0px;">
          <div class="btn btn-xs btn-default" data-ui-sref="postView({postId: post._id})">
            <span class="glyphicon glyphicon-comment"></span>
            <span>Comments (<span data-ng-bind="post.comments.length"></span>)</span>            
          </div>
        </div> 
      </div>
    </a>
  </div>

  <div class="list-group scrollArea" ng-if="postFilter === 'personal'" data-ng-init="findPostsPersonal()">
    <a data-ng-repeat="post in posts" class="panel panel-default list-group-item" style="padding-bottom:0px; margin-right:1px;">
      <div class="row">
        <div class="col-md-10">
          <div class="inline">
            <img data-ui-sref="viewProfile({profileId: post.user._id})" style="border:1px solid gray;width:50px; height:50px; max-width:100%; max-height:100%;"  id="preview" ng-src="{{imageUrl}}{{post.user.profilePic}}" />              
          </div>
          <div class="inline">
              <medium data-ui-sref="viewProfile({profileId: post.user._id})">
                <b><span data-ng-bind="post.user.firstName"></span></b>
                <b><span data-ng-bind="post.user.lastName"></span></b>
              </medium>               
            </br>    
            <small class="list-group-item-text">
              Posted on
              <i><span data-ng-bind="post.created | date:'d/M/yy h:mm a'"></span></i>    
              <span data-ng-if="post.privacy === 'public'">(Public)</span> 
              <span data-ng-if="post.privacy === 'friends'">(Friends Only)</span> 
              <span data-ng-if="post.privacy === 'private'">(Private)</span>   
            </small>        
          </div>      
        </div>
        <div class="col-md-2">
          <div class="row">
            <div class="col-md-12">
              <div class="dropdown" >
                <span class="dropdown-toggle pull-right" id="postMenu" data-toggle="dropdown"><i class="glyphicon glyphicon-option-vertical"></i></span>  
                </br>
                <ul class="dropdown-menu">
                  <li style="padding-left:10px;" data-ui-sref="postView({postId: post._id})" ng-style="menuColor" ng-mouseenter="changeColor(i,true)" ng-mouseleave="changeColor(i,false)">View Post</li>
                </ul>                         
              </div>                 
            </div>
          </div>   
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <h4 class="list-group-item-heading" data-ng-bind="post.title"></h4>
          <p class="list-group-item-text" data-ng-bind-html="post.content"></p>           
        </div>
      </div>
      <div class="row" style="margin-top:5px; padding:5px 0px ; margin-bottom:0px; background-color:#f6f6f6;">  
        <div class="col-md-2" style="margin:0px; ">
          <div ng-click="upPost(post._id)" class="btn btn-xs btn-default" ng-class="{selectedPost: post.up === true}">
            <span class="glyphicon glyphicon glyphicon-arrow-up"></span>
            <span>{{post.upVote.length}} Points</span>
          </div>
        </div>
        <div class="col-md-3" style="margin:0px;">
          <div class="btn btn-xs btn-default" data-ui-sref="postView({postId: post._id})">
            <span class="glyphicon glyphicon-comment"></span>
            <span>Comments (<span data-ng-bind="post.comments.length"></span>)</span>            
          </div>
        </div> 
      </div>
    </a>
  </div>



</section>