<section data-ng-controller="SocialController" class="content">
	<div class="col-md-3">
		<div ng-include src="'/modules/social/views/socialProfile.client.view.html'"></div>
	</div>
	<div class="col-md-8">
		<ul class="nav nav-tabs nav-justified">
		  <li role="presentation" ><a href="/#!/social/posts">Posts</a></li>
		  <li role="presentation" class="active"><a href="/#!/social/friends">Friends</a></li>
		  <li role="presentation"><a href="/#!/social/users">Find Users</a></li>
		</ul>
		<div ng-include src="'/modules/social/views/manage-friends.client.view.html'"></div>
	</div>
</section>