<section data-ng-controller="FinancesController" class="content">
	<div class="row">
		<div class="col-md-12">
			<h3 style="margin-top:0;"> Your Financial Ratios & Financial Health Analysis</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-7">
			<form name="dateForm">
			    <div class="form-group">
			    	<div class="row">
			    		<div class="col-md-3 text-center">
			    			<h4>Select Date: </h4>
			    		</div>
					    <div class="col-md-3">
					        <select data-ng-options="m as m for m in monthArr" class="form-control" data-ng-model="selectedMonth" ng-init="selectedMonth = monthArr[month]" style="text-align:center;"></select>
					    </div>
					    <div class="col-md-3">
					        <input type="number" class="form-control text-center" data-ng-model="selectedYear" ng-init="selectedYear = year">
					    </div>				    		
			    	</div>
			    </div>
			</form>
			<div class="row">
				<div class="col-md-12">
					<b>(A) Liquidity Ratios</b>	
					<div class="row">
						<div class="col-md-12">
							<table class="table table-striped">
								<tr tooltips tooltip-html="{{tips.tipLiquidity}}" tooltip-size="medium" tooltip-side="top">
									<td class="col-md-2" ><b>Liquidity Ratio:</b></td>
									<td class="col-md-1">
										{{displayOverview.ratioLiquidity}} 
										<span class="label label-success" ng-if="liquidityHealth === 1">Healthy</span>
										<span class="label label-warning" ng-if="liquidityHealth === 2">Unhealthy</span>
									</td>
									<td class="col-md-8">{{displayAnalysis.liquidity}}</td>
									<td class="col-md-1"><input type="radio" ng-model="check.ratio" value="liquidity"></td>
								</tr>					
							</table>								
						</div>		
					</div>			
				</div>
			</div>

			<div class="row">
				<div class='col-md-12'>
					<b>(B) Debt Ratios</b>
					<div class="row">
						<div class="col-md-12">
							<table class="table table-striped">
								<tr tooltips tooltip-html="{{tips.tipAssetDebt}}" tooltip-size="medium" tooltip-side="top"> 
									<td class="col-md-2"><b>Asset to Debt Ratio:</b></td>
									<td class="col-md-1"> 
										{{displayOverview.ratioAssetDebt}}
										<span class="label label-success" ng-if="assetDebtHealth === 1">Healthy</span>
										<span class="label label-warning" ng-if="assetDebtHealth === 2">Unhealthy</span>
									</td>
									<td class="col-md-8">{{displayAnalysis.assetDebt}}</td>
									<td class="col-md-1"><input type="radio" ng-model="check.ratio" value="assetDebt"></td>
								</tr>
								<tr tooltips tooltip-html="{{tips.tipDebtService}}" tooltip-size="medium" tooltip-side="top">
									<td class="col-md-2"><b>Debt Service Ratio:</b></td>
									<td class="col-md-1">
										{{displayOverview.ratioDebtService}}
										<span class="label label-success" ng-if="debtServiceHealth === 1">Healthy</span>
										<span class="label label-warning" ng-if="debtServiceHealth === 2">Unhealthy</span>
									</td>
									<td class="col-md-8">{{displayAnalysis.debtService}}</td>
									<td class="col-md-1"><input type="radio" ng-model="check.ratio" value="debtService"></td>
								</tr>
								<tr tooltips tooltip-html="{{tips.tipHouseExpense}}" tooltip-size="medium" tooltip-side="top">
									<td class="col-md-2"><b>Housing Expense Ratio:</b></td>
									<td class="col-md-1"> 
										{{displayOverview.ratioHouseExpense}}
										<span class="label label-success" ng-if="houseExpenseHealth === 1">Healthy</span>
										<span class="label label-warning" ng-if="houseExpenseHealth === 2">Unhealthy</span>
									</td>
									<td class="col-md-8">{{displayAnalysis.houseExpense}}</td>
									<td class="col-md-1"><input type="radio" ng-model="check.ratio" value="houseExpense"></td>
								</tr>
								<tr tooltips tooltip-html="{{tips.tipDebtIncome}}" tooltip-size="medium" tooltip-side="top">
									<td class="col-md-2"><b>Debt to Income Ratio:</b></td>
									<td class="col-md-1"> 
										{{displayOverview.ratioDebtIncome}}
										<span class="label label-success" ng-if="debtIncomeHealth === 1">Healthy</span>
										<span class="label label-warning" ng-if="debtIncomeHealth === 2">Unhealthy</span>
									</td>
									<td class="col-md-8">{{displayAnalysis.debtIncome}}</td>
									<td class="col-md-1"><input type="radio" ng-model="check.ratio" value="debtIncome"></td>
								</tr>
								<tr tooltips tooltip-html="{{tips.tipConsumerDebt}}" tooltip-size="medium" tooltip-side="top">
									<td class="col-md-2"><b>Consumer Debt Ratio:</b></td>
									<td class="col-md-1"> 
										{{displayOverview.ratioConsumerDebt}}
										<span class="label label-success" ng-if="consumerDebtHealth === 1">Healthy</span>
										<span class="label label-warning" ng-if="consumerDebtHealth === 2">Unhealthy</span>
									</td>
									<td class="col-md-8">{{displayAnalysis.consumerDebt}}</td>
									<td class="col-md-1"><input type="radio" ng-model="check.ratio" value="consumerDebt"></td>
								</tr>				
							</table>								
						</div>
					</div>										
				</div>			
			</div>

			<div class="row">
				<div class="col-md-12">
					<b>(C) Net Worth and Other Ratios</b>
					<div class="row">
						<div class="col-md-12">
							<table class="table table-striped">
								<tr tooltips tooltip-html="{{tips.tipNetWorthBenchmark}}" tooltip-size="medium" tooltip-side="top">
									<td class="col-md-2"><b>Net Worth Benchmark:</b></td>
									<td class="col-md-1"> 
										{{displayOverview.ratioNetWorthBenchmark}}
										<span class="label label-success" ng-if="netWorthHealth === 1">Healthy</span>
										<span class="label label-warning" ng-if="netWorthHealth === 2">Unhealthy</span>
									</td>
									<td class="col-md-8">{{displayAnalysis.netWorthBenchmark}}</td>
									<td class="col-md-1" ><input type="radio" ng-model="check.ratio" value="netWorthBenchmark"></td>	
								</tr>
								<tr tooltips tooltip-html="{{tips.tipSaving}}" tooltip-size="medium" tooltip-side="top">
									<td class="col-md-2"><b>Saving Ratio:</b></td>
									<td class="col-md-1"> 
										{{displayOverview.ratioSaving}}
										<span class="label label-success" ng-if="savingHealth === 1">Healthy</span>
										<span class="label label-warning" ng-if="savingHealth === 2">Unhealthy</span>
									</td>
									<td class="col-md-8">{{displayAnalysis.saving}}</td>
									<td class="col-md-1" ><input type="radio" ng-model="check.ratio" value="saving"></td>
								</tr>
								<tr tooltips tooltip-html="{{tips.tipSolvency}}" tooltip-size="medium" tooltip-side="top">
									<td class="col-md-2"><b>Solvency Ratio:</b></td>
									<td class="col-md-1"> 
										{{displayOverview.ratioSolvency}}
										<span class="label label-success" ng-if="solvencyHealth === 1">Healthy</span>
										<span class="label label-warning" ng-if="solvencyHealth === 2">Unhealthy</span>
									</td>
									<td class="col-md-8">{{displayAnalysis.solvency}}</td>
									<td class="col-md-1" ><input type="radio" ng-model="check.ratio" value="solvency"></td>
								</tr>
								<tr tooltips tooltip-html="{{tips.tipInvestment}}" tooltip-size="medium" tooltip-side="top">
									<td class="col-md-2"><b>Investment Ratio:</b></td>
									<td class="col-md-1"> 
										{{displayOverview.ratioInvestment}}
										<span class="label label-success" ng-if="investmentHealth === 1">Healthy</span>
										<span class="label label-warning" ng-if="investmentHealth === 2">Unhealthy</span>
									</td>
									<td class="col-md-8">{{displayAnalysis.investment}}</td>
									<td class="col-md-1" ><input type="radio" ng-model="check.ratio" value="investment"></td>
								</tr>
							</table>							
						</div>
							
					</div>
				
				</div>
			</div>					
		</div>

		<div class="col-md-5">
			<div class="row">
				<div class="col-sm-8 text-right" >
					<h4>Displaying For: </h4>
				</div>
	  			<div class="col-sm-4 pull-right">
					<select ng-model="selectedChartOption" class="form-control">
						<option value="0">Past 3 months</option>
						<option value="1">Past 6 months</option>
						<option value="2">Past 12 months</option>
					</select>
				</div>							
			</div>
		</br>
			<div class="row">
				<div class="col-md-12" style="padding:0;">
					<canvas id="ratioChart" class="chart chart-line" data="data" labels="labels" legend="true" series="series" options="{bezierCurve:false}" height="250"></canvas> 
				</div>
					
			</div>
			
		</div>
	</div>
</section>