<section data-ng-controller="FinancesController" class="content">
	<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<h3 style="margin-top:0;"> Your Financial Ratios & Financial Health Analysis</h3>
		</div>
	</div>
	
		<div class="row">
			<!-- Start of Financial Health Analysis Column -->
			<div class="col-md-7">
				<form name="dateForm">
				    <div class="form-group">
				    	<div class="row">
				    		<div class="col-xs-12 col-md-3 text-center">
				    			<h4>Select Date: </h4>
				    		</div>
						    <div class="col-xs-6 col-md-3">
						        <select data-ng-options="m as m for m in monthArr" class="form-control" data-ng-model="selectedMonth" ng-init="selectedMonth = monthArr[month]" style="text-align:center;"></select>
						    </div>
						    <div class="col-xs-6 col-md-3">
						        <input type="number" class="form-control text-center" data-ng-model="selectedYear" ng-init="selectedYear = year">
						    </div>				    		
				    	</div>
				    </div>
				</form>

				<!-- (A) Liquidity Ratios -->	
				<div class="row">
					<div class="col-md-12">
						<b>(A) Liquidity Ratios</b>	

						<div class="row">
							<div class="col-md-12">
								<table class="table table-striped">
									<tr>
										<!-- Current Liquidity Ratio -->
										<td class="col-md-1" style="text-align:center;"><input type="radio" ng-model="check.ratio" value="liquidity"></td>
										<td class="col-md-2" tooltips tooltip-html="{{tips.tipLiquidity}}" tooltip-size="medium" tooltip-side="top"><b>Current Liquidity</br> Ratio <span class="glyphicon glyphicon-info-sign" aria-hidden="true" ></span>:</b></td>
										<td class="col-md-1">
											{{displayOverview.ratioLiquidity}} 
											<span class="label label-success" ng-if="liquidityHealth === 1">Healthy</span>
											<span class="label label-warning" ng-if="liquidityHealth === 2">Unhealthy</span>
										</td>
										<td class="col-md-8">{{displayAnalysis.liquidity}}</td>
										
									</tr>		
									<tr>
										<td class="col-md-1" style="text-align:center;"><input type="radio" ng-model="check.ratio" value="totalLiquidity"></td>
										<td class="col-md-2" tooltips tooltip-html="{{tips.tipTotalLiquidity}}" tooltip-size="medium" tooltip-side="top"><b>Total Liquidity</br> Ratio <span class="glyphicon glyphicon-info-sign" aria-hidden="true">:</b></td>
										<td class="col-md-1">
											{{displayOverview.ratioTotalLiquidity}} 
											<span class="label label-success" ng-if="totalLiquidityHealth === 1">Healthy</span>
											<span class="label label-warning" ng-if="totalLiquidityHealth === 2">Unhealthy</span>
										</td>
										<td class="col-md-8">{{displayAnalysis.totalLiquidity}}</td>
										
									</tr>				
								</table>								
							</div>		
						</div>			
					</div>
				</div> <!--End of (A) Liquidity Ratios Row -->

				<!-- (B) Savings Ratios -->
				<div class="row">
					<div class="col-md-12">
						<b>(B) Savings Ratios</b>	
						<div class="row">
							<div class="col-md-12">
								<table class="table table-striped">
									<!--Surplus Income Ratio-->
									<tr>
										<td class="col-md-1" style="text-align:center;"><input type="radio" ng-model="check.ratio" value="saving"></td>
										<td class="col-md-2" tooltips tooltip-html="{{tips.tipSaving}}" tooltip-size="medium" tooltip-side="top"><b>Surplus Income</br> Ratio <span class="glyphicon glyphicon-info-sign" aria-hidden="true">:</b></td> <!-- Savings-->
										<td class="col-md-1"> 
											{{displayOverview.ratioSaving}}
											<span class="label label-success" ng-if="savingHealth === 1">Healthy</span>
											<span class="label label-warning" ng-if="savingHealth === 2">Unhealthy</span>
										</td>
										<td class="col-md-8">{{displayAnalysis.saving}}</td>
									</tr>	
									<!-- Basic Saving Ratio -->
									<tr>
										<td class="col-md-1" style="text-align:center;"><input type="radio" ng-model="check.ratio" value="basicSaving"></td>
										<td class="col-md-2" tooltips tooltip-html="{{tips.tipBasicSaving}}" tooltip-size="medium" tooltip-side="top"><b>Basic Saving</br> Ratio <span class="glyphicon glyphicon-info-sign" aria-hidden="true">:</b></td>
										<td class="col-md-1"> 
											{{displayOverview.ratioBasicSaving}}
											<span class="label label-success" ng-if="basicSavingHealth === 1">Healthy</span>
											<span class="label label-warning" ng-if="basicSavingHealth === 2">Unhealthy</span>
										</td>
										<td class="col-md-8">{{displayAnalysis.basicSaving}}</td>
									</tr>			
								</table>								
							</div>		
						</div>			
					</div>
				</div> <!--End of (B) Savings Ratio Row -->

				<!-- (C) Expense Ratios -->
				<div class="row">
					<div class="col-md-12">
						<b>(C) Expenses Ratios</b>	
						<div class="row">
							<div class="col-md-12">
								<table class="table table-striped">
									<!-- Essential Expenses to Income Ratio -->
									<tr>
										<td class="col-md-1" style="text-align:center;"><input type="radio" ng-model="check.ratio" value="essentialExpenses"></td>
										<td class="col-md-2" tooltips tooltip-html="{{tips.tipEssentialExpenses}}" tooltip-size="medium" tooltip-side="top"><b>Essential Expense to Income Ratio <span class="glyphicon glyphicon-info-sign" aria-hidden="true">:</b></td>
										<td class="col-md-1"> 
											{{displayOverview.ratioEssentialExpenses}}
											<span class="label label-success" ng-if="essentialExpensesHealth === 1">Healthy</span>
											<span class="label label-warning" ng-if="essentialExpensesHealth === 2">Unhealthy</span>
										</td>
										<td class="col-md-8">{{displayAnalysis.essentialExpenses}}</td>
									</tr>
									<!-- Lifestyle Expenses to Income Ratio -->	
									<tr>
										<td class="col-md-1" style="text-align:center;"><input type="radio" ng-model="check.ratio" value="lifestyleExpenses"></td>
										<td class="col-md-2" tooltips tooltip-html="{{tips.tipLifestyleExpenses}}" tooltip-size="medium" tooltip-side="top"><b>Lifestyle Expenses to Income Ratio <span class="glyphicon glyphicon-info-sign" aria-hidden="true" >:</b></td>
										<td class="col-md-1"> 
											{{displayOverview.ratioLifestyleExpenses}}
											<span class="label label-success" ng-if="lifestyleExpensesHealth === 1">Healthy</span>
											<span class="label label-warning" ng-if="lifestyleExpensesHealth === 2">Unhealthy</span>
										</td>
										<td class="col-md-8">{{displayAnalysis.lifestyleExpenses}}</td>
									</tr>			
								</table>								
							</div>		
						</div>			
					</div>
				</div> <!-- End of (C) Expenses Ratio row -->

				<!-- (D) Debt Ratios-->
				<div class="row">
					<div class='col-md-12'>
						<b>(D) Debt Ratios</b>
						<div class="row">
							<div class="col-md-12">
								<table class="table table-striped">
									<!-- Total Debt to Annual Income Ratio -->
									<tr>
										<td class="col-md-1" style="text-align:center;"><input type="radio" ng-model="check.ratio" value="assetDebt"></td> 
										<td class="col-md-2" tooltips tooltip-html="{{tips.tipAssetDebt}}" tooltip-size="medium" tooltip-side="top"><b>Total Debt to Annual Income Ratio <span class="glyphicon glyphicon-info-sign" aria-hidden="true">:</b></td> <!-- Asset to Debt Ratio-->
										<td class="col-md-1"> 
											{{displayOverview.ratioAssetDebt}}
											<span class="label label-success" ng-if="assetDebtHealth === 1">Healthy</span>
											<span class="label label-warning" ng-if="assetDebtHealth === 2">Unhealthy</span>
										</td>
										<td class="col-md-8">{{displayAnalysis.assetDebt}}</td>
									</tr>
									<!-- Current Debt to Annual Income Ratio -->
									<tr>
										<td class="col-md-1" style="text-align:center;"><input type="radio" ng-model="check.ratio" value="debtService"></td>
										<td class="col-md-2" tooltips tooltip-html="{{tips.tipDebtService}}" tooltip-size="medium" tooltip-side="top"><b>Current Debt to Annual Income</br> Ratio <span class="glyphicon glyphicon-info-sign" aria-hidden="true">:</b></td> <!-- Debt Service-->
										<td class="col-md-1">
											{{displayOverview.ratioDebtService}}
											<span class="label label-success" ng-if="debtServiceHealth === 1">Healthy</span>
											<span class="label label-warning" ng-if="debtServiceHealth === 2">Unhealthy</span>
										</td>
										<td class="col-md-8">{{displayAnalysis.debtService}}</td>
									</tr>
									<!-- Property Debt to Total Income Ratio -->
									<tr>
										<td class="col-md-1" style="text-align:center;"><input type="radio" ng-model="check.ratio" value="houseExpense"></td>
										<td class="col-md-2" tooltips tooltip-html="{{tips.tipHouseExpense}}" tooltip-size="medium" tooltip-side="top"><b>Property Debt to Total Income Ratio <span class="glyphicon glyphicon-info-sign" aria-hidden="true" >:</b></td> <!-- Housing Expense-->
										<td class="col-md-1"> 
											{{displayOverview.ratioHouseExpense}}
											<span class="label label-success" ng-if="houseExpenseHealth === 1">Healthy</span>
											<span class="label label-warning" ng-if="houseExpenseHealth === 2">Unhealthy</span>
										</td>
										<td class="col-md-8">{{displayAnalysis.houseExpense}}</td>
									</tr>
									<!-- Monthly Debt Servicing to Income Ratio -->
									<tr>
										<td class="col-md-1" style="text-align:center;"><input type="radio" ng-model="check.ratio" value="debtIncome"></td>
										<td class="col-md-2" tooltips tooltip-html="{{tips.tipDebtIncome}}" tooltip-size="medium" tooltip-side="top"><b>Monthly Debt Servicing to Income Ratio <span class="glyphicon glyphicon-info-sign" aria-hidden="true">:</b></td> <!-- Debt to Income-->
										<td class="col-md-1"> 
											{{displayOverview.ratioDebtIncome}}
											<span class="label label-success" ng-if="debtIncomeHealth === 1">Healthy</span>
											<span class="label label-warning" ng-if="debtIncomeHealth === 2">Unhealthy</span>
										</td>
										<td class="col-md-8">{{displayAnalysis.debtIncome}}</td>										
									</tr>
									<!-- Monthly Credit Card to Income Ratio -->
									<tr>
										<td class="col-md-1" style="text-align:center;"><input type="radio" ng-model="check.ratio" value="consumerDebt"></td>
										<td class="col-md-2"  tooltips tooltip-html="{{tips.tipConsumerDebt}}" tooltip-size="medium" tooltip-side="top"><b>Monthly Credit Card to Income Ratio <span class="glyphicon glyphicon-info-sign" aria-hidden="true">:</b></td> <!-- Consumer Debt -->
										<td class="col-md-1"> 
											{{displayOverview.ratioConsumerDebt}}
											<span class="label label-success" ng-if="consumerDebtHealth === 1">Healthy</span>
											<span class="label label-warning" ng-if="consumerDebtHealth === 2">Unhealthy</span>
										</td>
										<td class="col-md-8">{{displayAnalysis.consumerDebt}}</td>
									</tr>				
								</table>								
							</div>
						</div>										
					</div>			
				</div> <!-- End of (D) Debt Ratios Row -->

				<!-- (E) Net Worth and Other Ratios -->
				<div class="row">
					<div class="col-md-12">
						<b>(E) Net Worth and Other Ratios</b>
						<div class="row">
							<div class="col-md-12">
								<table class="table table-striped">
									<!-- Net Worth Benchmark -->
									<tr>
										<td class="col-md-1" style="text-align:center;"><input type="radio" ng-model="check.ratio" value="netWorthBenchmark"></td>
										<td class="col-md-2" tooltips tooltip-html="{{tips.tipNetWorthBenchmark}}" tooltip-size="medium" tooltip-side="top"><b>Net Worth</br> Benchmark <span class="glyphicon glyphicon-info-sign" aria-hidden="true">:</b></td>
										<td class="col-md-1"> 
											{{displayOverview.ratioNetWorthBenchmark}}
											<span class="label label-success" ng-if="netWorthHealth === 1">Healthy</span>
											<span class="label label-warning" ng-if="netWorthHealth === 2">Unhealthy</span>
										</td>
										<td class="col-md-8">{{displayAnalysis.netWorthBenchmark}}</td>
									</tr>
									<!-- Solvency Ratio -->
									<tr>
										<td class="col-md-1" style="text-align:center;"><input type="radio" ng-model="check.ratio" value="solvency"></td>
										<td class="col-md-2" tooltips tooltip-html="{{tips.tipSolvency}}" tooltip-size="medium" tooltip-side="top"><b>Solvency</br> Ratio <span class="glyphicon glyphicon-info-sign" aria-hidden="true">:</b></td>
										<td class="col-md-1"> 
											{{displayOverview.ratioSolvency}}
											<span class="label label-success" ng-if="solvencyHealth === 1">Healthy</span>
											<span class="label label-warning" ng-if="solvencyHealth === 2">Unhealthy</span>
										</td>
										<td class="col-md-8">{{displayAnalysis.solvency}}</td>
									</tr>
								</table>							
							</div>	
						</div>
					</div>
				</div> <!-- End of (E) Net Worth and Other Ratios Row -->

				<!-- (F) Asset vs Debt Ratios -->
				<div class="row">
					<div class="col-md-12">
						<b>(F) Asset vs Debt Ratios</b>
						<div class="row">
							<div class="col-md-12">
								<table class="table table-striped">
									<!-- Current Asset to Debt Ratio -->
									<tr>
										<td class="col-md-1" style="text-align:center;"><input type="radio" ng-model="check.ratio" value="currentAssetDebt"></td>
										<td class="col-md-2" tooltips tooltip-html="{{tips.tipCurrentAssetDebt}}" tooltip-size="medium" tooltip-side="top"><b>Current Asset to Debt Ratio <span class="glyphicon glyphicon-info-sign" aria-hidden="true">:</b></td>
										<td class="col-md-1"> 
											{{displayOverview.ratioCurrentAssetDebt}}
											<span class="label label-success" ng-if="currentAssetDebtHealth === 1">Healthy</span>
											<span class="label label-warning" ng-if="currentAssetDebtHealth === 2">Unhealthy</span>
										</td>
										<td class="col-md-8">{{displayAnalysis.currentAssetDebt}}</td>
									</tr>
									<!-- Investment Assets to Total Assets Ratio -->
									<tr>
										<td class="col-md-1" style="text-align:center;"><input type="radio" ng-model="check.ratio" value="investment"></td>
										<td class="col-md-2" tooltips tooltip-html="{{tips.tipInvestment}}" tooltip-size="medium" tooltip-side="top"><b>Investment Assets to Total Assets Ratio <span class="glyphicon glyphicon-info-sign" aria-hidden="true">:</b></td> <!-- Investment -->
										<td class="col-md-1"> 
											{{displayOverview.ratioInvestment}}
											<span class="label label-success" ng-if="investmentHealth === 1">Healthy</span>
											<span class="label label-warning" ng-if="investmentHealth === 2">Unhealthy</span>
										</td>
										<td class="col-md-8">{{displayAnalysis.investment}}</td>
									</tr><!-- ENd of (F) Asset vs Debt Ratios row -->
								</table>							
							</div>	
						</div>
					</div>
				</div>
			</div>
			
			<!-- Graph Column -->
			<div class="col-md-5">
				<div >
					<div class="row">
						<div class="col-sm-8 text-right" >
							<h4>Displaying For: </h4>
						</div>
			  			<div class="col-sm-4 pull-right">
							<select ng-model="selectedChartOption" class="form-control">
								<option value="0">Past 3 months</option>
								<option value="1">Past 6 months</option>
								<option value="2">Past 12 months</option>
							</select>
						</div>							
					</div>
					</br>
					<div class="row">
						<div class="col-md-12">
							<canvas id="ratioChart" class="chart chart-line" data="data" labels="labels" legend="true" series="series" options="{bezierCurve:false}" height="200"></canvas> 
						</div>	
						<!-- <a href="/#!/financial/pdf">PDF</a> -->
<!-- 						<a ng-click="print()">PRINT</a> -->
					</div>				
				</div>
			</div>
			<!-- End of Graph Column-->

		</div>
	</div> <!-- container -->
</section>