<section ng-controller="AssetsController" class="content"> 
	<ul class="nav nav-tabs nav-justified">
	  <li role="presentation"><a href="/#!/financialrecord">Overview</a></li>
	  <li role="presentation" class="active"><a href="/#!/financialrecord/assets">Assets</a></li>
	  <li role="presentation"><a href="/#!/financialrecord/liabilities">Liabilities</a></li>
	  <li role="presentation"><a href="/#!/financialrecord/incomeExpense">Income & Expense</a></li>
	  <li role="presentation"><a href="/#!/financialrecord/debts">Debt</a></li>
	  <li role="presentation"><a href="/#!/financialrecord/insurances">Insurances</a></li>
	</ul>
	<div class="row">
		<div class="col-sm-6">
			<!-- <h3> Displaying Records for : <em>{{monthDisplay}}, {{year}} </em></h3> -->
			<h3>Displaying Assets Records: </h3>
			<form name="dateForm">
			    <div class="form-group">
			    	<div class="row">
			    		<div class="col-sm-4 text-center">
			    			<h4>Select Date: </h4>
			    		</div>
					    <div class="col-sm-4">
					        <select data-ng-options="m as m for m in monthArr" class="form-control" data-ng-model="selectedMonth" ng-init="selectedMonth = monthArr[month]"></select>
					    </div>
					    <div class="col-sm-4">
					        <input type="number" class="form-control" data-ng-model="selectedYear">
					    </div>				    		
			    	</div>
			    </div>
			</form>
			<div data-ng-show="recordFound" class="text-danger">
				<strong data-ng-bind="recordFound"></strong>
			</div>
		  	<accordion class="accordion" close-others="oneAtATime">
			    <accordion-group is-open="status.open" ng-click="clearSuccessMessage()">
			        <accordion-heading>
			            <i class="pull-left glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i> &nbsp;Cash & Cash Equivalents 
			            <p class="pull-right">Total: {{displayAssetsRecords.cashEquivalentsAmt| currency}}</p>
			        </accordion-heading>
					<form name="cashEquivalentsForm" data-ng-submit="updateUserFinances(cashEquivalentsForm.$valid)">
						<fieldset>
							<table class="form-group table table-striped">
								<tr>
									<th>Type</th>
									<th>Amount</th>
								</tr>
								<tr ng-repeat="item in displayAssetsRecords.cashEquivalents | toArray | orderBy:'order'">
									<td><label for="'{{item.description}}'">{{item.description}}</label> </td>
									<td>$ <input type="currency" step="any" id="'{{item.description}}'" ng-model="item.value"/></td>
								</tr>
							</table>
				        	<div class="form-group">
								<button type="submit" class="btn btn-large btn-primary">Save Profile</button>
							</div>
							<div data-ng-show="success" class="text-success">
								<strong>Assets updated Successfully</strong>
							</div>
							<div data-ng-show="error" class="text-danger">
								<strong data-ng-bind="error"></strong>
							</div>
						</fieldset>
					</form>
			    </accordion-group>

			    <accordion-group is-open="status1.open" ng-click="clearSuccessMessage()">
			        <accordion-heading>
			             <i class="pull-left glyphicon" ng-class="{'glyphicon-minus': status1.open, 'glyphicon-plus': !status1.open}"></i>&nbsp;Personal Use Assets
			            <p class="pull-right">Total: {{displayAssetsRecords.personalUseAssetsAmt| currency}}</p>
			        </accordion-heading>
					<form name="personalUseAssetsForm" data-ng-submit="updateUserFinances(personalUseAssetsForm.$valid)">
						<fieldset>
							<table class="form-group table table-striped">
								<tr>
									<th>Type</th>
									<th>Amount</th>
								</tr>
								<tr ng-repeat="item in displayAssetsRecords.personalUseAssets | toArray | orderBy:'order'">
									<td><label for="'{{item.description}}'">{{item.description}}</label> </td>
									<td>$ <input type="number" step="any" id="'{{item.description}}'" ng-model="item.value"/></td>
								</tr>
							</table>
				        	<div class="form-group">
								<button type="submit" class="btn btn-large btn-primary">Save Profile</button>
							</div>
							<div data-ng-show="success" class="text-success">
								<strong>Profile Saved Successfully</strong>
							</div>
							<div data-ng-show="error" class="text-danger">
								<strong data-ng-bind="error"></strong>
							</div>
						</fieldset>
					</form>
			    </accordion-group>

			   	<accordion-group is-open="status2.open" ng-click="clearSuccessMessage()">
			        <accordion-heading>
			             <i class="pull-left glyphicon" ng-class="{'glyphicon-minus': status2.open, 'glyphicon-plus': !status2.open}"></i>&nbsp;Invested Assets
			            <p class="pull-right">Total: {{displayAssetsRecords.investedAssetsAmt| currency}}</p>
			        </accordion-heading>
			        <form name="investedAssetsForm" data-ng-submit="updateUserFinances(investedAssetsForm.$valid)">
						<fieldset>
							<table class="form-group table table-striped">
								<tr>
									<th>Type</th>
									<th>Amount</th>
								</tr>
								<tr ng-repeat="item in displayAssetsRecords.investedAssets | toArray | orderBy:'order'">
									<td><label for="'{{item.description}}'">{{item.description}}</label> </td>
									<td>$ <input type="number" step="any" id="'{{item.description}}'" ng-model="item.value"/></td>
								</tr>
							</table>
				        	<div class="form-group">
								<button type="submit" class="btn btn-large btn-primary">Save Profile</button>
							</div>
							<div data-ng-show="success" class="text-success">
								<strong>Profile Saved Successfully</strong>
							</div>
							<div data-ng-show="error" class="text-danger">
								<strong data-ng-bind="error"></strong>
							</div>
						</fieldset>
					</form>
			    </accordion-group>

			   	<accordion-group is-open="status3.open" ng-click="clearSuccessMessage()">
			        <accordion-heading>
			             <i class="pull-left glyphicon" ng-class="{'glyphicon-minus': status3.open, 'glyphicon-plus': !status3.open}"></i>&nbsp;CPF Savings
			            <p class="pull-right">Total: {{displayAssetsRecords.cpfSavingsAmt| currency}}</p>
			        </accordion-heading>
			        <form name="cpfSavingsForm" data-ng-submit="updateUserFinances(cpfSavingsForm.$valid)">
						<fieldset>
							<table class="form-group table table-striped">
								<tr>
									<th>Type</th>
									<th>Amount</th>
								</tr>
								<tr ng-repeat="item in displayAssetsRecords.cpfSavings | toArray | orderBy:'order'">
									<td><label for="'{{item.description}}'">{{item.description}}</label> </td>
									<td>$ <input type="number" step="any" id="'{{item.description}}'" ng-model="item.value"/></td>
								</tr>
							</table>
				        	<div class="form-group">
								<button type="submit" class="btn btn-large btn-primary">Save Profile</button>
							</div>
							<div data-ng-show="success" class="text-success">
								<strong>Profile Saved Successfully</strong>
							</div>
							<div data-ng-show="error" class="text-danger">
								<strong data-ng-bind="error"></strong>
							</div>
						</fieldset>
					</form>
			    </accordion-group>
			   	<accordion-group is-open="status4.open" ng-click="clearSuccessMessage()">
			        <accordion-heading>
			            <i class="pull-left glyphicon" ng-class="{'glyphicon-minus': status4.open, 'glyphicon-plus': !status4.open}"></i>&nbsp;Other Assets 
			            <p class="pull-right">Total: {{displayAssetsRecords.otherAssetsAmt| currency}}</p>
			        </accordion-heading>
			        <form name="otherAssetsForm" data-ng-submit="updateUserFinances(otherAssetsForm.$valid)">
						<fieldset>
							<table class="form-group table table-striped">
								<tr>
									<th>Type</th>
									<th>Amount</th>
								</tr>
								<tr ng-repeat="item in displayAssetsRecords.otherAssets | toArray | orderBy:'order'">
									<td><label for="'{{item.description}}'">{{item.description}}</label> </td>
									<td>$ <input type="number" step="any" id="'{{item.description}}'" ng-model="item.value"/></td>
								</tr>
							</table>
				        	<div class="form-group">
								<button type="submit" class="btn btn-large btn-primary">Save Profile</button>
							</div>
							<div data-ng-show="success" class="text-success">
								<strong>Profile Saved Successfully</strong>
							</div>
							<div data-ng-show="error" class="text-danger">
								<strong data-ng-bind="error"></strong>
							</div>
						</fieldset>
					</form>
			    </accordion-group>
		  	</accordion>
		</div>
	  	<div class="col-md-6">
	  		<div class="row">
	  			<div class="col-md-12 text-center">
					<h3> Total: {{displayAssetsRecords.totalAmt | currency}}</h3>
		  			<canvas id="assetsDoughnut" class="chart chart-doughnut" data="assetsDoughnutData" labels="assetsDoughnutLabels" legend="true"></canvas> 		  				
	  			</div>
			
			</div>

	  	</div>
	  	
	</div>
</section>
