<section data-ng-controller="DebtsController" class="content"> 
  <ul class="nav nav-tabs nav-justified">
    <li role="presentation"><a href="/#!/financialrecord">Overview</a></li>
    <li role="presentation"><a href="/#!/financialrecord/assets">Assets</a></li>
    <li role="presentation"><a href="/#!/financialrecord/liabilities">Liabilities</a></li>
    <li role="presentation"><a href="/#!/financialrecord/incomeExpense">Income & Expense</a></li>
    <li role="presentation" class="active"><a href="/#!/financialrecord/debts">Debt</a></li>
    <li role="presentation"><a href="/#!/financialrecord/insurances">Insurances</a></li>
  </ul>
  <h3>Loans & Mortgages</h3>
  <!--
  <table class="table">
    <thead>
      <tr>
        <th>No.</th>
        <th>Name of Lender / Bank</th>
        <th>Type</th>
        <th>Loan Amount</th>
        <th>Interest Rate</th>
        <th>Date Started</th>
        <th>Loan Tenure (months)</th>
        <th>Linked?</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='debt in user.debtsInfoArr'>
         <!-- read-only cells 
        <td>{{debt.id}}</td>
        <td><a ng-click="contributionModal(debt)" data-toggle="modal" data-target="#infoModal">{{ debt.lender }}</a></td>
        <td>{{ debt.type }}</td>
        <td>${{ debt.amt }}</td>
        <td>{{ debt.interestRate }}%</td>
        <td>{{ debt.date }}</td>
        <td>{{ debt.lenOfLoan }}</td>
        <td>{{ debt.linkedStatus }}</td>
        <td>{{debt.status}}</td>
        <td>          
          <button type="button"ng-click="contributionModal(debt)" data-toggle="modal" data-target="#infoModal"  aria-label="Left Align">
            <span class="glyphicon glyphicon-pencil align-left" aria-hidden="true"></span>
          </button>
        
          <button type="button" ng-click="selectDeleteRecord(debt)" data-toggle="modal" data-target="#deleteModal"  aria-label="Left Align">
            <span class="glyphicon glyphicon-trash align-left" aria-hidden="true"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  -->
<br/>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#debtModal">Add New Debt
</button>
<br/><br/>
<table class="table table-striped table-bordered" style="text-align:center;">
    <thead>
      <td><i class="fa fa-list-ol fa-1x"></i></td>
      <td><i class="fa fa-book fa-1x"></i>Name of Lender / Bank</td>
      <td><i class="fa fa-trophy fa-1x fa-1x"></i>Type</td>
      <td><i class="fa fa-usd fa-1x fa-1x"></i>Loan Amount</td>
      <td><i class="fa fa-line-chart fa-1x"></i>Interest Rate</td>
      <td><i class="fa fa-clock-o fa-1x"></i>Date Started</td>
      <td><i class="fa fa-calendar fa-1x"></i>Loan Tenure (months)</td>      
      <td><i class="fa fa-hourglass-half fa-1x"></i>Status</td>
      <td><i class="fa fa-cogs"></i></td>      
    </thead>                
    <tr ng-repeat='debt in user.debtsInfoArr'>
         <!-- read-only cells -->     
        <td>{{debt.id}}</td>
        <td><a ng-click="contributionModal(debt)" data-toggle="modal" data-target="#infoModal">{{ debt.lender }}</a></td>
        <td>{{ debt.type }}</td>
        <td>{{ debt.amt | currency }}</td>
        <td>{{ debt.interestRate }}%</td>
        <td>{{ debt.startDate |date }}</td>
        <td>{{ debt.lenOfLoan }}</td>        
        <td>{{debt.status}}</td>
        <td> 
          <div ng-if = "debt.status=='In Progress'">
            <button type="button"ng-click="contributionModal(debt)" data-toggle="modal" data-target="#infoModal"  aria-label="Left Align">
              <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
            </button>
          
            <button type="button" ng-click="selectDeleteRecord(debt)" data-toggle="modal" data-target="#deleteModal"  aria-label="Left Align">
              <span class="glyphicon glyphicon-trash align-left" aria-hidden="true"></span>
            </button>
          </div>
          <div ng-if = "debt.status=='Completed'">
            <button type="button" class="btn btn-success btn-sm" ng-click="markAsComplete(debt)" data-toggle="modal" data-target="#markCompleteModal">Mark Complete</button>
          </div>
        </td>
      </tr>
  </table>

  
  
  <br/><br/><br/>
  <h4>Completed Loans & Mortgages</h4>
  <table class="table table-striped table-bordered" style="text-align:center;">
    <thead>
      <td><i class="fa fa-list-ol fa-1x"></i></td>
      <td><i class="fa fa-book fa-1x"></i>Name of Lender / Bank</td>
      <td><i class="fa fa-trophy fa-1x fa-1x"></i>Type</td>
      <td><i class="fa fa-usd fa-1x fa-1x"></i>Loan Amount</td>
      <td><i class="fa fa-line-chart fa-1x"></i>Interest Rate</td>
      <td><i class="fa fa-clock-o fa-1x"></i>Date Started</td>
      <td><i class="fa fa-calendar fa-1x"></i>Loan Tenure (months)</td>      
      <td><i class="fa fa-clock-o fa-1x"></i>Date Completed</td>
      <td><i class="fa fa-cogs"></i></td>      
    </thead>                
    <tr ng-repeat='debt in user.debtsCompletedArr'>
         <!-- read-only cells -->     
        <td>{{debt.id}}</td>
        <td><a ng-click="contributionModal(debt)" data-toggle="modal" data-target="#infoModal">{{ debt.lender }}</a></td>
        <td>{{ debt.type }}</td>
        <td>{{ debt.amt | currency }}</td>
        <td>{{ debt.interestRate }}%</td>
        <td>{{ debt.startDate |date }}</td>
        <td>{{ debt.lenOfLoan }}</td>        
        <td>{{debt.actualEndDate |date}}</td>
        <td> 
          
            <button type="button"ng-click="contributionModal(debt)" data-toggle="modal" data-target="#infoModal"  aria-label="Left Align">
              <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
            </button>
          
            <button type="button" ng-click="selectDeleteRecord(debt)" data-toggle="modal" data-target="#deleteCompletedModal"  aria-label="Left Align">
              <span class="glyphicon glyphicon-trash align-left" aria-hidden="true"></span>
            </button>
          
        </td>
      </tr>
  </table>

  <div class="modal fade" id="debtModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <!--START OF PART 1 -->
        <div class="ng-show" ng-show="add1show">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Add Loan/Mortgage</h4>
          </div>    
            
          <form name="addDebt" data-ng-submit="addDebtOne()">
          <fieldset>
            <div class="modal-body">
              
              <div class="row">
                <div class="col-md-7">
                  <div class='form-group'>
                    <label for='name'>Name of Lender / Bank:</label>
                    <input class='form-control' ng-model='newDebt.lender' name='lender' type='text' ng-required = "true">       
                  </div>
                </div>                          
                <div class="col-md-5">
                  <div class='form-group'>
                    <label for='age'>Type: </label>
                      <select class='form-control' ng-model='newDebt.type' name='type' required>
                        <option ng-repeat="item in liabilities" selected="selected">{{item.description}}</option>
                      </select>                    
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-7">                    
                  <div class="form-group">            
                    <label for="goal.targetAmt">Loan Amount</label>
                      <div class="input-group">
                          <div class="input-group-addon">$</div>
                          <input type="number"  class="form-control" ng-model="newDebt.amt" placeholder="Target Savings" step="any" min='{{minTargetAmt}}' required=true>
                      </div>
                    </div>            
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <label>Interest Rate:</label>
                    <div class="input-group">                                   
                      <input type="number" min="0" class="form-control" step="any" data-ng-model="newDebt.interestRate" id="interestRate" placeholder="Amount" required="true"/>
                      <div class="input-group-addon">%</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-7">
                  <div class ="form-group">
                    <label>Date Started:</label>
                    <input class='form-control' ng-model='newDebt.startDate' name='amt' type='date' ng-required="true"/>
                  </div>            
                </div>
                <div class="col-md-5">
                  <div class='form-group'>
                    <label for='name'>Length of Loan (in months):</label>
                    <input class='form-control' ng-model='newDebt.lenOfLoan' name='lenOfLoan' type='number' min="0" ng-required="true">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-7">
                  <div class='form-group'>
                    <label>Enter your monthly contribution:</label>
                    <input class='form-control' ng-model='newDebt.monthly' name='lender' type='number' step="any" min=0 ng-required = "true">       
                  </div>
                </div>
                <div class="col-md-5">
                  <div class='form-group'>
                    <label>How many times have you repaid?</label>
                    <input class="form-control" ng-model="newDebt.repaymentNo" name="repaymentNo" type="number" min=0 ng-required ="true"/>
                  </div>
                </div>                           
              </div>

            </div>                        

            <div class="modal-footer">
              <div class="form-group">
                <button type="button" ng-click ="resetModal()" class="btn btn-default" data-dismiss="modal">Cancel
                </button>
                <button type="submit" class="btn btn-primary">Next</button>

              <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
              </div>
              </div>
            </div>
            </fieldset>
            </form>

        </div>
        

      
        
          <!--START OF PART 2 -->
          <div class="ng-show" ng-show="add2show">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Add Loan/Mortgage</h4>
            </div>
            <form name="createLinkedDebtForm" data-ng-submit="createLinkedDebt()">
            <fieldset>
            <div class="modal-body">
              <h4 align="center">I-Wealth calculates that your loan balance is:</h4>
              <h4 align="center">${{displayLoanBalance}}</h4>
              <br/>
              
              <h5><i>Loan balance not correct? Enter the correct amount below and click submit!</i></h5>           

              
              <form class="form-inline">
              <div class ="row">              
                <div class= "col-md-6 col-md-offset-3">
                  <div class="col-md-9">  
                    <div class="form-group">            
                      <label class="sr-only" for="fixedExpenseB">Amount (in dollars)</label>
                      <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input type="number"  class="form-control" data-ng-model="newLoanBalance" id="newLoanBalance" placeholder="Amount" step="any" min="0">                  
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <button type="button" ng-click="setNewLoanBalance()" class="btn btn-primary btn-sm">Set Loan Balance</button>
                  </div>
                </div>
              </div>
              
              </form>
              
            

              <h5><font color="red">Note: I-Wealth automatically links this debt to your liabilities and income & expense records.</font></h5>

            </div>
            
            <div class="modal-footer">
              <div class="form-group">
                <button type="button" class="btn btn-link" ng-click="resetModal()" data-dismiss="modal">Cancel</button>                
                <button type="submit" class="btn btn-success">Complete</button>
                <div data-ng-show="error" class="text-danger">
                  <strong data-ng-bind="error"></strong>
                </div>
              </div>
            </div>

            </fieldset>
            </form>
          </div>

          <!--START OF PART 3 -->
          <div class="ng-show" ng-show="add3show">             
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">Success!</h3>
            </div>
            <div class="modal-body">
                <h4>Debt Added!</h4>
            </div>
            <div class="modal-footer">
              <div class="form-group">
                  <button type="button" class="btn btn-success" ng-click="resetModal()" data-dismiss="modal">Dismiss
                  </button>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <!--- Info Modal -->

  <div class="modal fade" id="" tabindex="-0" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">{{debt.lender}}</h4>
        </div>
        <div ng-show="debtDetails" class="ng-show">
          <div class="modal-body">
                                              
          <form name="dateForm" class="ng-dirty ng-valid">
            <div class="form-group">
              <div class="row">              
              <div class="col-xs-3 text-center">
                <h4>Records for: </h4>
              </div>
              <div class="col-xs-3">
                  <select data-ng-options="m as m for m in mth" class="form-control ng-pristine ng-valid" data-ng-model="selectedMonth" ng-init="selectedMonth = mth[month]" style="text-align:center;">
                   </select> 
              </div>
              <div class="col-xs-3">
                  <input type="number" class="form-control text-center ng-pristine ng-valid ng-valid-number" data-ng-model="selectedYear" ng-init="selectedYear = year">
              </div>                
            </div>
            </div>
          </form>



           
            <h4>{{debt.type}}</h4>
            <div class = "ng-hide" ng-hide="noRecordsToDisplay">
              <div class="row">
                <div class ="col-md-6">
                  <h5>Loan Amount: ${{debt.amt.toFixed(2)}}</h5>
                  <h5>No of Repayment: {{recordReq.repaymentNo}}</h5>
                </div>
                <div class ="col-md-6">
                  <h5>Current Loan Balance: ${{recordReq.loanBalance.toFixed(2)}}</h5>
                  <h5>Contribution this Month: ${{recordReq.monthly.toFixed(2)}}</h5>
                </div>
              </div>

              <div class = "ng-hide" ng-hide = "debt.statusBoolean">
                <div ng-hide="recordReq.monthlyPayStatus" class="ng-hide">
                  <div ng-show="presentMonthCheck" class="ng-show">
                    <br/>
                    According to our records, you have not made a contribution for this month. 
                    <br/>
                    Select contribute to record this month's contribution.
                    <button class="btn btn-success btn-sm" ng-click="contribute()">Contribute</button>
                  </div>
                  <div ng-hide="presentMonthCheck" class="ng-hide">
                    <br/>
                    <font color=red>According to our records, you missed payment for this month.</font>
                  </div>
                </div>
                <div ng-show="recordReq.monthlyPayStatus" class="ng-show">
                    <br/>
                    According to our records, you have already made a contribution for this month.                 
                </div>
              </div>
              <div class = "ng-show" ng-show = "debt.statusBoolean">
                <br/>
                <h4><font color="red">Loan Repayments Complete!</font></h4>
              </div>
            </div>
            <div class = "ng-show" ng-show="noRecordsToDisplay">
              <h4><font color="red">No Records for selected month.</font></h4>
              <br/>
              <font color="blue">Records start from {{mth[debt.creationRecord.month]}}, {{debt.creationRecord.year}}.</font>
            </div>

          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>                        
          </div>
        </div>

        <div ng-show="contributionConfirm" class="ng-show">


            <div class="modal-body">
            
              <h4>Confirm contribution of  ${{debt.monthly.toFixed(2)}} ?</h4>
              <div>
                  <br/>                
                  <h5><i>Note: If you current debt is linked, I-Wealth automatically records your contribution in your Income & Expense records!</i></h5>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" ng-click="confirmContribute()">Confirm</button>                
            </div>

        </div>

        <div ng-show="success" class="ng-show">


            <div class="modal-body">
            
              <h4>Success</h4>
              <div>
                  <br/>                
                  <h5>Contribution Added!</h5>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Dismiss</button>                
            </div>

        </div>

      </div>
    </div>
  </div>

  <!--New Info Modal-->
  <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog-lg" role="document">
      <div class="modal-content">                     
      <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">{{debt.lender}}</h4>
          </div>
        <div class="modal-body">
          <div class="container-fluid">
          <div class="col-md-4">
              <h4>{{debt.type}}</h4>              
              <div class="row">
                <div class="col-md-6">
                   <div class="form-group">           
                    <label for="goal.targetAmt">Loan Amount:</label>
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input type="number"  class="form-control" ng-model="debt.amt" placeholder="Target Savings" readonly="true">
                    </div>
                  </div>            
                </div>
                <div class="col-md-6">
                    <div class="form-group">           
                    <label for="goal.targetAmt">Loan Balance:</label>
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input type="number"  class="form-control" ng-model="debt.loanBalance" placeholder="Target Savings" readonly="true">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class='form-group'>
                      <label for='name'>Start Date:</label>
                      <input style="text-align:center" class='form-control' ng-model='displayStartDate' type='text' readonly="true">     
                  </div>
                </div>                          
                <div class="col-md-6">
                    <div class='form-group'>
                      <label for='age'>Projected End Date:</label>
                      <input style="text-align:center" text="center" class='form-control'  ng-model='displayEndDate' type='text' readonly="true">                  
                    </div>
                </div>
              </div>
              <div class="row">
                <div align="center">
                  <h4>Loan Status:{{debt.status}}</h4>              
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <h4>Loan Servicing Records</h4>
              <div class="scrollMilestone">
              <table class="table table-striped table-bordered" style="text-align:center;">
                <thead>
                  <td><i class="fa fa-list-ol fa-1x"></i></td>                 
                  <td><i class="fa fa-calendar fa-1x"></i>Date</td>
                  <td><i class="fa fa-usd fa-1x"></i>Loan Balance</td>
                  <td><i class="fa fa-money fa-1x"></i>Payment</td>                  
                  <td><i class="fa fa-clock-o fa-1x"></i>Payment Date</td>
                  <td><i class="fa fa-hourglass-half fa-1x"></i>Status</td>
                </thead>                
                <tr ng-repeat ="item in debt.records">
                  <td>{{item.id}}</td>
                  <td>                                            
                      {{mth[item.month]}}, {{item.year}}                      
                  </td>
                  <td>{{item.loanBalance | currency}}&nbsp;<a ng-click="setLoanBalance(item)" data-target="#loanBalanceChange" data-toggle="modal"><span ng-if="!debt.completeTable" class="fa fa-pencil"></span></a></td>
                  <td>{{item.monthly | currency}}</td>                  
                  <td>
                      <div ng-if="item.monthlyPayStatus">
                        {{item.date | date}}
                      </div>
                      <div ng-if="item.monthlyPayStatus==false">
                        -
                      </div>
                  </td>
                  <td>
                      <div ng-if="item.monthlyPayStatus">
                          Paid
                      </div>
                      <!--
                      <div ng-if="item.monthlyPayStatus==false && debt.status=='Completed'">
                          Completed                     
                      </div>
                      -->
                      <div ng-if="item.monthlyPayStatus==false && debt.status=='In Progress'">
                          <button class="btn-default" ng-click="getItem(item)" data-target="#contributeModal" data-toggle="modal">Pay Now</button>
                      </div>
                  </td>

                </tr>
              </table>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
        <div class="form-group">
            <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss
            </button>
        </div>
        </div>              
      </div>
    </div>
  </div>
  


  <!-- Contribute Modal -->
  <div class="modal fade" id="contributeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">                     
      <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Warning!</h4>
      </div>
      <div class="modal-body">          
        <h5><i>Different monthly payment amount? Enter the correct amount below and click submit!</i></h5>           
        <form class="form-inline">
        <div class ="row">              
          <div class= "col-md-6 col-md-offset-3">
            <div class="col-md-9">  
              <div class="form-group">            
                <label class="sr-only">Amount (in dollars)</label>
                <div class="input-group">
                  <div class="input-group-addon">$</div>
                  <input type="number"  class="form-control" data-ng-model="debt.monthly"  placeholder="Amount" step="any" min="0">                  
                </div>
              </div>
            </div>
          </div>
        </div>
        
        </form>
        <h5><font color="red">Note: I-Wealth automatically links this debt to your liabilities and income & expense records.</font></h5>
      </div>
      <div class="modal-footer">
        <div class="form-group">
            <button type="button" class="btn btn-success" ng-click="confirmContribute()" data-dismiss="modal">Pay Now
            </button>
            <button type="button" class="btn btn-default" ng-click="cancelDelete()" data-dismiss="modal">Cancel
            </button>
           </div>
        </div>              
      </div>
    </div>
  </div>

  <!-- Change loan balance --> 
  <div class="modal fade" id="loanBalanceChange" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">                     
      <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Loan Balance Inaccurate?</h4>
      </div>
      <div class="modal-body">          
        <h5><i>Change your loan balance for the month: {{mth[itemSelected.month]}}, {{itemSelected.year}} </i></h5>           
        <form class="form-inline">
        <div class ="row">              
          <div class= "col-md-6 col-md-offset-3">
            <div class="col-md-9">  
              <div class="form-group">            
                <label class="sr-only">Amount (in dollars)</label>
                <div class="input-group">
                  <div class="input-group-addon">$</div>
                  <input type="number"  class="form-control" data-ng-model="changeLoanBalance"  placeholder="Amount" step="any" min="0">                  
                </div>
              </div>
            </div>
          </div>
        </div>
        
        </form>
        <h5><font color="red">Note: I-Wealth automatically links this debt to your liabilities and income & expense records.</font></h5>
      </div>
      <div class="modal-footer">
        <div class="form-group">
            <button type="button" class="btn btn-success" ng-click="updateLoanBalance()" data-dismiss="modal">Update Now
            </button>
            <button type="button" class="btn btn-default" ng-click="cancelDelete()" data-dismiss="modal">Cancel
            </button>
           </div>
        </div>              
      </div>
    </div>
  </div>

   <!-- Mark Complete Modal -->
  <div class="modal fade" id="markCompleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">                     
      <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Success!</h4>
          </div>
        <div class="modal-body">
            <h4>Loan/Mortgage marked complete.</h4>                       
        </div>
        <div class="modal-footer">
        <div class="form-group">
            <button type="button" class="btn btn-success" ng-click="resetModal()" data-dismiss="modal">Dismiss
            </button>
           </div>
        </div>              
      </div>
    </div>
  </div>

  <!-- Delete Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">                     
      <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Warning!</h4>
          </div>
        <div class="modal-body">
            <h4>Are you sure you want delete this loan/mortgage?</h4>
            <br/><br/>
            <i>Note: If your debt is linked, all previous records from Liabilities and Income & Expenses will be erased!</i>
        </div>
        <div class="modal-footer">
        <div class="form-group">
            <button type="button" class="btn btn-danger" ng-click="deleteRecord('progressArray')" data-dismiss="modal">Confirm Delete
            </button>
            <button type="button" class="btn btn-default" ng-click="cancelDelete()" data-dismiss="modal">Cancel
            </button>
           </div>
        </div>              
      </div>
    </div>
  </div>

   <!-- Completed Delete Modal -->
  <div class="modal fade" id="deleteCompletedModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">                     
      <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Warning!</h4>
          </div>
        <div class="modal-body">
            <h4>Are you sure you want delete this Completed Loan/Mortgage?</h4>
            <br/><br/>
            <i>Note: If your debt is linked, all previous records from Liabilities and Income & Expenses will be erased!</i>
        </div>
        <div class="modal-footer">
        <div class="form-group">
            <button type="button" class="btn btn-danger" ng-click="deleteRecord('completedArray')" data-dismiss="modal">Confirm Delete
            </button>
            <button type="button" class="btn btn-default" ng-click="cancelDelete()" data-dismiss="modal">Cancel
            </button>
           </div>
        </div>              
      </div>
    </div>
  </div>


</section>

