	<section data-ng-controller="BudgetController" class="content"> 
  <div class="row">
		<div class="col-md-4">
			<div class="col-md-11">
				<h4>Budget Overview</h4>					
				<h5 align=center> Displaying Budget for: {{displayDate}}</h5>
			
			<div ng-show="feBudgetSet" class="ng-show">				
				<div class="row">
					<div class="col-md-7">
						<em>Fixed Expenses</em>
					</div>
					<div class="col-md-5">
						<div class="ng-show" ng-show="feStatus">
						${{displayThisMonthFixedExpenseTotal}} / ${{displayFixedExpenseB}}
						</div>
						<div class="ng-hide" ng-hide="feStatus">
						Exceeded by ${{displayThisMonthFixedExpenseTotal-displayFixedExpenseB}}
						</div>
					</div>
				</div>
	    		<progressbar class="progress-striped active" animate="true" value="dynamicE" type="{{typeE}}"><b>{{dynamicE}}%</b></progressbar>	    		
    		</div>
    		

    		<div ng-show="tBudgetSet" class="ng-show">
    		<div class="row">
				<div class="col-md-7">
					<em>Transport</em>
				</div>
				<div class="col-md-5">
					<div class="ng-show" ng-show="tStatus">
					${{displayThisMonthTransportTotal}} / ${{displayTransportB}}
					</div>
					<div class="ng-hide" ng-hide="tStatus">
					Exceeded by ${{displayThisMonthTransportTotal-displayTransportB}}
					</div>
				</div>
			</div>
    		<progressbar class="progress-striped active" animate="true" value="dynamicT" type="{{typeT}}"><b>{{dynamicT}}%</b></progressbar>
    		</div>
    		

    		<div ng-show="uBudgetSet" class="ng-show">
    		<div class="row">
				<div class="col-md-7">
					<em>Utilities &...</em>
				</div>
				<div class="col-md-5">
					<div class="ng-show" ng-show="uStatus">
					${{displayThisMonthUtilitiesTotal}} / ${{displayUtilitiesB}}
					</div>
					<div class="ng-hide" ng-hide="uStatus">
					Exceeded by ${{displayThisMonthUtilitiesTotal-displayUtilitiesB}}
					</div>
				</div>
			</div>
    		<progressbar class="progress-striped active" animate="true" value="dynamicU" type="{{typeU}}"><b>{{dynamicU}}%</b></progressbar>
    		</div>
    		

    		<div ng-show="fBudgetSet" class="ng-show">
    		<div class="row">
				<div class="col-md-7">
					<em>Food & Neces...</em>
				</div>
				<div class="col-md-5">
					<div class="ng-show" ng-show="fStatus">
					${{displayThisMonthFoodTotal}} / ${{displayFoodB}}
					</div>
					<div class="ng-hide" ng-hide="fStatus">
					Exceeded by ${{displayThisMonthFoodTotal-displayFoodB}}
					</div>
				</div>
			</div>
    		<progressbar class="progress-striped active" animate="true" value="dynamicF" type="{{typeF}}"><b>{{dynamicF}}%</b></progressbar>
    		</div>
    		

    		<div ng-show="mBudgetSet" class="ng-show">
    		<div class="row">
				<div class="col-md-7">
					<em>Miscellaneous</em>
				</div>
				<div class="col-md-5">
					<div class="ng-show" ng-show="mStatus">
					${{displayThisMonthMiscTotal}} / ${{displayMiscB}}
					</div>
					<div class="ng-hide" ng-hide="mStatus">
					Exceeded by ${{displayThisMonthMiscTotal-displayMiscB}}
					</div>
				</div>
			</div>
    		<progressbar class="progress-striped active" animate="true" value="dynamicM" type="{{typeM}}"><b>{{dynamicM}}%</b></progressbar>
    		</div>

    		<div class="ng-hide" ng-hide="feBudgetSet">
	    		<div class="row">
	    			<ul><li><font color=red>No Budget Set for Fixed Expenses</font></li></ul>
	    		</div>
    		</div>
			<div class="ng-hide" ng-hide="tBudgetSet">
	    		<div class="row">
	    			<ul><li><font color=red>No Budget Set for Transport</font></li></ul>
	    		</div>
    		</div>
			<div class="ng-hide" ng-hide="uBudgetSet">
	    		<div class="row">
	    			<ul><li><font color=red>No Budget Set for Utilities & Maintanence</font></li></ul>
	    		</div>
    		</div>
			<div class="ng-hide" ng-hide="fBudgetSet">
	    		<div class="row">
	    			<ul><li><font color=red>No Budget Set for Food & Necessities</font></li></ul>
	    		</div>
    		</div>
			<div class="ng-hide" ng-hide="mBudgetSet">
	    		<div class="row">
	    			<ul><li><font color=red>No Budget Set for Miscellaneous Expenses</font></li></ul>
	    		</div>
    		</div>
    		<div class="ng-show" ng-show="allBudgetSet">
    			<div align = center>
    			Need to change your budget limits? <button type="submit" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal5">Click Here</button>
    			</div>
    		</div>

    		<h4>Total Expenses: ${{totalExpense}}</h4>
    		<div class="ng-show" ng-show="incomeExpenseChartDisplay">
		  		<canvas id="incomeExpenseDoughnut" class="chart chart-doughnut" data="incomeExpenseDoughnutData" labels="incomeExpenseDoughnutLabels" legend="true"></canvas> 
		  	</div>
    		

    		</div>

		
			<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
				    
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal5" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">Update Budget Limit</h4>
			      </div>
			      <div class="modal-body">
				  
			    <span>Fixed Expense:</span>
				<form class="form-inline" ng-submit="setFixedExpenseBudget()">
			  		<div class="form-group">				  	
			    		<label class="sr-only" for="fixedExpenseB">Amount (in dollars)</label>
				    <div class="input-group">
				      <div class="input-group-addon">$</div>
				      <input type="number"  class="form-control" data-ng-model="fixedExpenseB" id="fixedExpenseB" placeholder="Amount" value="fixedExpenseB" min="0" required=true>
				      <div class="input-group-addon">.00</div>
				    </div>
				  </div>
			  	<button type="submit" class="btn btn-primary btn-sm">Set Budget</button>
			  	</form>
				
				<span>Transport:</span>
				<form class="form-inline" ng-submit="setTransportBudget()">
				  <div class="form-group">				  	
				    <label class="sr-only" for="transportB">Amount (in dollars)</label>
				    <div class="input-group">
				      <div class="input-group-addon">$</div>
				      <input type="number" min="0" class="form-control" data-ng-model="transportB" id="transportB" placeholder="Amount" required=true>
				      <div class="input-group-addon">.00</div>
				    </div>
				  </div>
				  <button type="submit" class="btn btn-primary btn-sm">Set Budget</button>
				</form>

				<span>Utilities & Household Maintenance:</span>
				<form class="form-inline" ng-submit="setUtilitiestBudget()">
				  <div class="form-group">				  	
				    <label class="sr-only" for="utilitiesB">Amount (in dollars)</label>
				    <div class="input-group">
				      <div class="input-group-addon">$</div>
				      <input type="number" min="0" class="form-control" data-ng-model="utilitiesB" id="utilitiesB" placeholder="Amount" required=true>
				      <div class="input-group-addon">.00</div>
				    </div>
				  </div>
				  <button type="submit" class="btn btn-primary btn-sm">Set Budget</button>
				</form>
				
				<span>Food & Necessities:</span>
				<form class="form-inline" ng-submit="setFoodBudget()">
				  <div class="form-group">				  	
				    <label class="sr-only" for="foodB">Amount (in dollars)</label>
				    <div class="input-group">
				      <div class="input-group-addon">$</div>
				      <input type="number" min="0" class="form-control" data-ng-model="foodB" id="foodB" placeholder="Amount" required=true>
				      <div class="input-group-addon">.00</div>
				    </div>
				  </div>
				  <button type="submit" class="btn btn-primary btn-sm">Set Budget</button>
				</form>

				<span>Miscellaneous:</span>
				<form class="form-inline" ng-submit="setMiscBudget()">
				  <div class="form-group">				  	
				    <label class="sr-only" for="miscB">Amount (in dollars)</label>
				    <div class="input-group">
				      <div class="input-group-addon">$</div>
				      <input type="number" min="0" class="form-control" data-ng-model="miscB" id="miscB" placeholder="Amount" required=true>
				      <div class="input-group-addon">.00</div>
				    </div>
				  </div>
				  <button type="submit" class="btn btn-primary btn-sm">Set Budget</button>
				</form>
			      </div>							      
			      <div class="modal-footer">
			      <div align=center>
			      <div class="form-group">
			        <button type="button" class="btn btn-block" data-dismiss="modal">Cancel
			        </button>
			        <button type="button" class="btn btn-success btn-block" data-dismiss="modal">Done</button>  
					<div data-ng-show="error" class="text-danger">
						<strong data-ng-bind="error"></strong>
					</div>
			      </div>
			      </div>
			      </div>									      
			    </div>
			  </div>
			</div>


		</div>		
		<div class="col-md-8">
			<div class="ng-hide" ng-hide="allBudgetSet">
			<div class="row">
			
			<h4 align=left>Set Budget Limits to track your expenditure now!</h4>	
			<br/>		
			
				<div class="row">
				
				<div class = "col-md-6">
				<span>Fixed Expense:</span>
				<form class="form-inline" ng-submit="setFixedExpenseBudget()">
				  <div class="form-group">				  	
				    <label class="sr-only" for="fixedExpenseB">Amount (in dollars)</label>
				    <div class="input-group">
				      <div class="input-group-addon">$</div>
				      <input type="number" min="0" class="form-control" data-ng-model="fixedExpenseB" id="fixedExpenseB" placeholder="Amount" value="fixedExpenseB" required=true>
				      <div class="input-group-addon">.00</div>
				    </div>
				  </div>
				  <button type="submit" class="btn btn-default btn-sm">Set Budget</button>
				</form>
				</div>
				
				
				<div class = "col-md-6">
				<span>Transport:</span>
				<form class="form-inline" ng-submit="setTransportBudget()">
				  <div class="form-group">				  	
				    <label class="sr-only" for="transportB">Amount (in dollars)</label>
				    <div class="input-group">
				      <div class="input-group-addon">$</div>
				      <input type="number" min="0" class="form-control" data-ng-model="transportB" id="transportB" placeholder="Amount" required=true>
				      <div class="input-group-addon">.00</div>
				    </div>
				  </div>
				  <button type="submit" class="btn btn-default btn-sm">Set Budget</button>
				</form>
				</div>
				</div>
				
				<div class="row">
				
				<div class = "col-md-6">
				<span>Utilities & Household Maintenance:</span>
				<form class="form-inline" ng-submit="setUtilitiestBudget()">
				  <div class="form-group">				  	
				    <label class="sr-only" for="utilitiesB">Amount (in dollars)</label>
				    <div class="input-group">
				      <div class="input-group-addon">$</div>
				      <input type="number" min="0" class="form-control" data-ng-model="utilitiesB" id="utilitiesB" placeholder="Amount" required=true>
				      <div class="input-group-addon">.00</div>
				    </div>
				  </div>
				  <button type="submit" class="btn btn-default btn-sm">Set Budget</button>
				</form>				
				</div>
				
				<div class = "col-md-6">
				<span>Food & Necessities:</span>
				<form class="form-inline" ng-submit="setFoodBudget()">
				  <div class="form-group">				  	
				    <label class="sr-only" for="foodB">Amount (in dollars)</label>
				    <div class="input-group">
				      <div class="input-group-addon">$</div>
				      <input type="number" min="0" class="form-control" data-ng-model="foodB" id="foodB" placeholder="Amount" required=true>
				      <div class="input-group-addon">.00</div>
				    </div>
				  </div>
				  <button type="submit" class="btn btn-default btn-sm">Set Budget</button>
				</form>
				</div>

				</div>
				
				
				<span>Miscellaneous:</span>
				<form class="form-inline" ng-submit="setMiscBudget()">
				  <div class="form-group">				  	
				    <label class="sr-only" for="miscB">Amount (in dollars)</label>
				    <div class="input-group">
				      <div class="input-group-addon">$</div>
				      <input type="number" min="0" class="form-control" data-ng-model="miscB" id="miscB" placeholder="Amount" required=true>
				      <div class="input-group-addon">.00</div>
				    </div>
				  </div>
				  <button type="submit" class="btn btn-default btn-sm">Set Budget</button>
				</form>
				
				</div>
			</div>
			<br/>
			<div class="row">			
			<h4>Monthly Expenses</h4>
			
			<accordion class="accordion" close-others="oneAtATime">


								<!-- INCOME & EXPENSE -->
			    <accordion-group is-open="status.open">
			        <accordion-heading>
			           <i class="pull-left glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i>&nbsp;Fixed Expense 
			            <p class="pull-right">Total: $ {{thisMonthFixedExpenseTotal}}</p>
			        </accordion-heading>
							<p ng>You have indicated under the 'Income & Expense' tab a total Fixed Expense of ${{thisMonthFixedExpenseTotal}}</p>
							<p>Add Expenses below to account your expenditure for the month.</p> 
							<table class="form-group table table">
								<tr>
									<th>Details</th>
									<th>Type</th>
									<th>Amount</th>
									<th>Date</th>
									<th></th>									
								</tr>
								<tr ng-repeat = "x in feDiffTable" bgcolor="#F3F018"> 
									<td>Unassigned</td>
									<td>{{x.type}}</td>
									<td>${{x.diff}}</td>
									<td></td>
									<td><button type="button" class="btn btn-danger" ng-click="setFixedExpense()" data-toggle="modal" data-target="#myModal">
									  Assign Expense
									</button>
							        </td>
								</tr>
								
								<tr ng-repeat="item in fixedExpenseTable">
									<td>{{item.detail}}</td>
									<td>{{item.description}}</td>
									<td>${{item.amount}}</td>
									<td>{{item.date}}</td>
									<td>									
										<button type="button" ng-click=(deleteFERecord(item)) class="btn btn-default btn-xs">
				  							<span class="glyphicon glyphicon-remove"></span>
										</button>
									</td>
								</tr>

							</table>


							<!-- Button trigger modal -->
							
							<!-- Modal -->			
							<button type="button" class="btn btn-primary" ng-click="setFixedExpense()" data-toggle="modal" data-target="#myModal">
							  Add Expense
							</button>

							<!--Fixed Expense Modal -->
							
			    </accordion-group>

			    							<!-- TRANSPORT -->

			    <accordion-group is-open="status1.open">
				        <accordion-heading>
				            <i class="pull-left glyphicon" ng-class="{'glyphicon-minus': status1.open, 'glyphicon-plus': !status1.open}"></i>&nbsp;Transport
				            <p class="pull-right">Total: $ {{thisMonthTransportTotal}}</p>
				        </accordion-heading>
						<p ng>You have indicated under the 'Transport' tab a total Expense of ${{thisMonthTransportTotal}}</p>
							<p>Add Expenses below to account your expenditure for the month.</p> 
							<table class="form-group table table">
								<tr>
									<th>Details</th>
									<th>Type</th>
									<th>Amount</th>
									<th>Date</th>
									<th></th>
									
								</tr>
								<tr ng-repeat = "x in tDiffTable" bgcolor="#F3F018"> 
									<td>Unassigned</td>
									<td>{{x.type}}</td>
									<td>${{x.diff}}</td>
									<td></td>
									<td><button type="button" class="btn btn-danger" ng-click="setTransportExpense()" data-toggle="modal" data-target="#myModal">
									  Assign Expense
									</button>
							        </td>
								</tr>
								<tr ng-repeat="item in transportTable">
									<td>{{item.detail}}</td>
									<td>{{item.description}}</td>
									<td>${{item.amount}}</td>
									<td>{{item.date}}</td>
									<td>
									<button type="button" ng-click=(deleteFERecord(item)) class="btn btn-default btn-xs">
				  							<span class="glyphicon glyphicon-remove"></span>
									</button>
									</td>
								</tr>
					
							</table>
							<!-- Button trigger modal -->
							
							<!-- Modal -->			
							<button type="button" ng-click="setTransportExpense()" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
							  Add Expense
							</button>

							
				    </accordion-group>

				    <!-- Utilities & Household maintanence -->

			    <accordion-group is-open="status2.open">
				        <accordion-heading>
				            <i class="pull-left glyphicon" ng-class="{'glyphicon-minus': status2.open, 'glyphicon-plus': !status2.open}"></i>&nbsp;Utilities & Household Maintanence
				            <p class="pull-right">Total: $ {{thisMonthUtilitiesTotal}}</p>
				        </accordion-heading>
						<p ng>You have indicated under the 'Utilities & Household Maintanence' tab a total Expense of ${{thisMonthUtilitiesTotal}}</p>
							<p>Add Expenses below to account your expenditure for the month.</p> 
							<table class="form-group table table">
								<tr>
									<th>Details</th>
									<th>Type</th>
									<th>Amount</th>
									<th>Date</th>
									<th></th>
								</tr>
								<tr ng-repeat = "x in uDiffTable" bgcolor="#F3F018"> 
									<td>Unassigned</td>
									<td>{{x.type}}</td>
									<td>${{x.diff}}</td>
									<td></td>
									<td><button type="button" class="btn btn-danger" ng-click="setUtilityExpense()" data-toggle="modal" data-target="#myModal">
									  Assign Expense
									</button>
							        </td>
								</tr>
								<tr ng-repeat="item in utilitiesTable">
									<td>{{item.detail}}</td>
									<td>{{item.description}}</td>
									<td>${{item.amount}}</td>
									<td>{{item.date}}</td>
									<td>
									<button type="button" ng-click=(deleteFERecord(item)) class="btn btn-default btn-xs">
				  							<span class="glyphicon glyphicon-remove"></span>
									</button>
									</td>
								</tr>
					
							</table>
							<!-- Button trigger modal -->
							
							<!-- Modal -->			
							<button type="button"  ng-click="setUtilityExpense()" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
							  Add Expense
							</button>

							
				    </accordion-group>

				        <!-- Food & Necessities  -->

			    <accordion-group is-open="status3.open">
				        <accordion-heading>
				            <i class="pull-left glyphicon" ng-class="{'glyphicon-minus': status3.open, 'glyphicon-plus': !status3.open}"></i>&nbsp;Food & Neccessities 
				            <p class="pull-right">Total: $ {{thisMonthFoodTotal}}</p>
				        </accordion-heading>
						<p ng>You have indicated under the 'Food & Neccessities' tab a total Expense of ${{thisMonthFoodTotal}}</p>
							<p>Add Expenses below to account your expenditure for the month.</p> 
							<table class="form-group table table">
								<tr>
									<th>Details</th>
									<th>Type</th>
									<th>Amount</th>
									<th>Date</th>
									<th></th>
									
								</tr>
								<tr ng-repeat = "x in fDiffTable" bgcolor="#F3F018"> 
									<td>Unassigned</td>
									<td>{{x.type}}</td>
									<td>${{x.diff}}</td>
									<td></td>
									<td><button type="button" class="btn btn-danger" ng-click="setFoodExpense()" data-toggle="modal" data-target="#myModal">
									  Assign Expense
									</button>
							        </td>
								</tr>
								<tr ng-repeat="item in foodTable">
									<td>{{item.detail}}</td>
									<td>{{item.description}}</td>
									<td>${{item.amount}}</td>
									<td>{{item.date}}</td>
									<td>
									<button type="button" ng-click=(deleteFERecord(item)) class="btn btn-default btn-xs">
				  							<span class="glyphicon glyphicon-remove"></span>
									</button>
									</td>
								</tr>
					
							</table>
							<!-- Button trigger modal -->
							
							<!-- Modal -->			
							<button type="button" ng-click="setFoodExpense()" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
							  Add Expense
							</button>

							
				    </accordion-group>

				    <!-- Miscellaneous -->

			    <accordion-group is-open="status4.open">
				        <accordion-heading>
				            <i class="pull-left glyphicon" ng-class="{'glyphicon-minus': status4.open, 'glyphicon-plus': !status4.open}"></i>&nbsp;Miscellaneous 
				            <p class="pull-right">Total: $ {{thisMonthMiscTotal}}</p>
				        </accordion-heading>
						<p ng>You have indicated under the 'Miscellaneous' tab a total Expense of ${{thisMonthMiscTotal}}</p>
							<p>Add Expenses below to account your expenditure for the month.</p> 
							<table class="form-group table table">
								<tr>
									<th>Details</th>
									<th>Type</th>
									<th>Amount</th>
									<th>Date</th>
									<th></th>
									
								</tr>
								<tr ng-repeat = "x in mDiffTable" bgcolor="#F3F018"> 
									<td>Unassigned</td>
									<td>{{x.type}}</td>
									<td>${{x.diff}}</td>
									<td></td>
									<td><button type="button" class="btn btn-danger" ng-click="setMiscExpense()" data-toggle="modal" data-target="#myModal">
									  Assign Expense
									</button>
							        </td>
								</tr>
								<tr ng-repeat="item in miscTable">
									<td>{{item.detail}}</td>
									<td>{{item.description}}</td>
									<td>${{item.amount}}</td>
									<td>{{item.date}}</td>
									<td>
									<button type="button" ng-click=(deleteFERecord(item)) class="btn btn-default btn-xs">
				  							<span class="glyphicon glyphicon-remove"></span>
									</button>
									</td>
								</tr>
					
							</table>
							<!-- Button trigger modal -->
							<button type="button" ng-click="setMiscExpense()" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
							  Add Expense
							</button>

							
				    </accordion-group>

			</accordion>
			<form name="forms.addFixedExpenseForm" data-ng-submit="addNewExpense()">
			<fieldset>
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
				  <div ng-hide="formSubmitted" class="ng-hide">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">New Fixed Expense</h4>
			      </div>

			      <div class="modal-body">
				      <div class="row">
					      <div class="col-md-7">
						      	<label>Description:</label>				      
						      	<div class="form-group">									      	
									<input type="text" name="detail" id="detail" data-ng-model="detail" class ="form-control" ng-required="true"/>
								</div>
							</div>
					  </div>
					  <div class="row">
					      	<div class="col-md-7">
						      	<div class="form-group">
							      <label for="type">Type (select one):</label>
							      <select class="form-control" name="type" id="type" data-ng-model="type" ng-required="true">
							        <option ng-repeat="item in selectedExpense">{{item.description}}
							        </option>        
							      </select>
								</div>
							</div>
					  </div>
					  <div class="row">
					      	<div class="col-md-7">
						      	<div class ="form-group">
						      	<label for="expenseAmt">Amount Spent:</label>
	    						<input type="number" min="0" step="any" name="expenseAmt" id="expenseAmt"class ="form-control" data-ng-model="expenseAmt" ng-required="true"/>	</div>
							</div>
					  </div>
					  <div class="row">
					      	<div class="col-md-7">
						      	<p class="input-group">
						      		<label for="date">Date of Expense:</label>
	            					<input type="date" class="form-control" min="{{firstDay}}" max="{{lastDay}}" name="date" id="date" data-ng-model="date" ng-required="true"/>						        
	        					</p>
							</div>
					  </div>
					  <input type="hidden" name="formRef" ng-model="formRef">
			      </div>							      
			      <div class="modal-footer">
			      <div class="form-group">
			        <button type="button" ng-click ="resetModal()" class="btn btn-default" data-dismiss="modal">Cancel
			        </button>
			        <button type="submit" class="btn btn-primary">Create</button>
			        
					<div data-ng-show="error" class="text-danger">
						<strong data-ng-bind="error"></strong>
					</div>
			      </div>
			      </div>
				  </div>	
				  <div ng-show="formSubmitted" class="ng-show">
					  <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">Success!</h4>
				      </div>
					  <div class="modal-body">
					      Expense Added!
					  </div>
					  <div class="modal-footer">
					  <div class="form-group">
				        <button type="button" class="btn btn-success" ng-click="resetModal()" data-dismiss="modal">Dismiss
				        </button>
				       </div>
				      </div>
			      </div>

			    </div>
			  </div>
			</div>
			</fieldset>
			</form>

			</div>
		</div>
	</div>	
 </section>