<section data-ng-controller="BudgetController" class="content"> 
  <div class="row">
		<div class="col-md-4">
			<div class="col-md-11">
				<h4>Budget Overview</h4>					
				
			<div>	
				<div class="form-group">
					<div class ="row">
						<div class="col-offset-md-2 col-md-10">
			    			<h5>Currently Displaying:</h5>
			    		</div>
			    	</div>
			    	<div class="row">
			    		
					    <div class="col-sm-5" style="padding:0;">
					        <select data-ng-options="m as m for m in mth" class="form-control" data-ng-model="selectedMonth" ng-init="selectedMonth = mth[month]"></select>
					    </div>
					    <div class="col-sm-4">
					        <input type="number" class="form-control" data-ng-model="selectedYear" ng-init="selectedYear = year">
					    </div>				    		
			    	</div>
			    </div>
			</div>
			<div ng-hide="clickShow" align="left">
				<a ng-click="budgetView()">+Display Budget</a>
			</div>
			<div ng-show="clickShow" class="ng-show">
				<a ng-click="budgetView()">-Collapse</a>
			<div ng-show="feBudgetSet" class="ng-show">				
				<div class="row">
					<div class="col-md-7">
						<em>Fixed Expenses</em>
					</div>
					<div class="col-md-5">
						<div class="ng-show" ng-show="feStatus">
						${{displayThisMonthFixedExpenseTotal}} / ${{displayFixedExpenseB}}
						</div>
						<div class="ng-hide" ng-hide="feStatus">
						Exceeded by ${{(displayFeExceed)}}
						</div>
					</div>
				</div>
	    		<progressbar class="progress-striped active" animate="true" value="dynamicE" type="{{typeE}}"><b>{{dynamicE}}%</b></progressbar>	    		
    		</div>
    		

    		<div ng-show="tBudgetSet" class="ng-show">
    		<div class="row">
				<div class="col-md-7">
					<em>Transport</em>
				</div>
				<div class="col-md-5">
					<div class="ng-show" ng-show="tStatus">
					${{displayThisMonthTransportTotal}} / ${{displayTransportB}}
					</div>
					<div class="ng-hide" ng-hide="tStatus">
					Exceeded by ${{displayTExceed}}
					</div>
				</div>
			</div>
    		<progressbar class="progress-striped active" animate="true" value="dynamicT" type="{{typeT}}"><b>{{dynamicT}}%</b></progressbar>
    		</div>
    		

    		<div ng-show="uBudgetSet" class="ng-show">
    		<div class="row">
				<div class="col-md-7">
					<em>Utilities &...</em>
				</div>
				<div class="col-md-5">
					<div class="ng-show" ng-show="uStatus">
					${{displayThisMonthUtilitiesTotal}} / ${{displayUtilitiesB}}
					</div>
					<div class="ng-hide" ng-hide="uStatus">
					Exceeded by ${{displayUExceed}}
					</div>
				</div>
			</div>
    		<progressbar class="progress-striped active" animate="true" value="dynamicU" type="{{typeU}}"><b>{{dynamicU}}%</b></progressbar>
    		</div>
    		

    		<div ng-show="fBudgetSet" class="ng-show">
    		<div class="row">
				<div class="col-md-7">
					<em>Food & Neces...</em>
				</div>
				<div class="col-md-5">
					<div class="ng-show" ng-show="fStatus">
					${{displayThisMonthFoodTotal}} / ${{displayFoodB}}
					</div>
					<div class="ng-hide" ng-hide="fStatus">
					Exceeded by ${{displayfExceed}}
					</div>
				</div>
			</div>
    		<progressbar class="progress-striped active" animate="true" value="dynamicF" type="{{typeF}}"><b>{{dynamicF}}%</b></progressbar>
    		</div>
    		

    		<div ng-show="mBudgetSet" class="ng-show">
    		<div class="row">
				<div class="col-md-7">
					<em>Miscellaneous</em>
				</div>
				<div class="col-md-5">
					<div class="ng-show" ng-show="mStatus">
					${{displayThisMonthMiscTotal}} / ${{displayMiscB}}
					</div>
					<div class="ng-hide" ng-hide="mStatus">
					Exceeded by ${{displayMExceed}}
					</div>
				</div>
			</div>
    		<progressbar class="progress-striped active" animate="true" value="dynamicM" type="{{typeM}}"><b>{{dynamicM}}%</b></progressbar>
    		</div>

    		<div ng-show="oBudgetSet" class="ng-show">
    		<div class="row">
				<div class="col-md-7">
					<em>Optional Savings</em>
				</div>
				<div class="col-md-5">
					<div class="ng-show" ng-show="oStatus">
					${{displayThisMonthOptionalTotal}} / ${{displayOptionalB}}
					</div>
					<div class="ng-hide" ng-hide="oStatus">
					Exceeded by ${{displayOExceed}}
					</div>
				</div>
			</div>
    		<progressbar class="progress-striped active" animate="true" value="dynamicO" type="{{typeO}}"><b>{{dynamicO}}%</b></progressbar>
    		</div>

    		<div class="ng-hide" ng-hide="feBudgetSet">
	    		<div class="row">
	    			<ul><li><font color=red>No Budget Set for Fixed Expenses</font></li></ul>
	    		</div>
    		</div>
			<div class="ng-hide" ng-hide="tBudgetSet">
	    		<div class="row">
	    			<ul><li><font color=red>No Budget Set for Transport</font></li></ul>
	    		</div>
    		</div>
			<div class="ng-hide" ng-hide="uBudgetSet">
	    		<div class="row">
	    			<ul><li><font color=red>No Budget Set for Utilities & Maintanence</font></li></ul>
	    		</div>
    		</div>
			<div class="ng-hide" ng-hide="fBudgetSet">
	    		<div class="row">
	    			<ul><li><font color=red>No Budget Set for Food & Necessities</font></li></ul>
	    		</div>
    		</div>
			<div class="ng-hide" ng-hide="mBudgetSet">
	    		<div class="row">
	    			<ul><li><font color=red>No Budget Set for Miscellaneous Expenses</font></li></ul>
	    		</div>
    		</div>
    		<div class="ng-hide" ng-hide="oBudgetSet">
	    		<div class="row">
	    			<ul><li><font color=red>No Budget Set for Optional Savings</font></li></ul>
	    		</div>
    		</div>
    		
			<div align = left>
			Need to Set your Budget Limits? <button type="submit" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal5">Click Here</button>
			</div>
    		</div>

    		<h4>Total Expenses: ${{totalExpense}}</h4>
    		<div class="ng-show" ng-show="incomeExpenseChartDisplay">
		  		<canvas id="incomeExpenseDoughnut" class="chart chart-doughnut" data="incomeExpenseDoughnutData" labels="incomeExpenseDoughnutLabels" legend="true"></canvas> 
		  	</div>
    		

    		</div>

		
			<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
				    
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal5" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">Update Budget Limit</h4>
			      </div>
			      <form data-ng-submit="setBudget()">
			      <div class="modal-body">
				  
			    <span>Fixed Expense:</span>
				<div class="form-inline">
			  		<div class="form-group">				  	
			    		<label class="sr-only" for="fixedExpenseB">Amount (in dollars)</label>
				    <div class="input-group">
				      <div class="input-group-addon">$</div>
				      <input type="number"  class="form-control" data-ng-model="fixedExpenseB" id="fixedExpenseB" placeholder="Amount" value="fixedExpenseB" min="0" required=true>
				      <div class="input-group-addon">.00</div>
				    </div>
				  </div>			  	
			  	</div>
				
				<span>Transport:</span>
				<div class="form-inline">
				  <div class="form-group">				  	
				    <label class="sr-only" for="transportB">Amount (in dollars)</label>
				    <div class="input-group">
				      <div class="input-group-addon">$</div>
				      <input type="number" min="0" class="form-control" data-ng-model="transportB" id="transportB" placeholder="Amount" required=true>
				      <div class="input-group-addon">.00</div>
				    </div>
				  </div>				  
				</div>

				<span>Utilities & Household Maintenance:</span>
				<div class="form-inline">
				  <div class="form-group">				  	
				    <label class="sr-only" for="utilitiesB">Amount (in dollars)</label>
				    <div class="input-group">
				      <div class="input-group-addon">$</div>
				      <input type="number" min="0" class="form-control" data-ng-model="utilitiesB" id="utilitiesB" placeholder="Amount" required=true>
				      <div class="input-group-addon">.00</div>
				    </div>
				  </div>				  
				</div>
				
				<span>Food & Necessities:</span>
				<div class="form-inline">
				  <div class="form-group">				  	
				    <label class="sr-only" for="foodB">Amount (in dollars)</label>
				    <div class="input-group">
				      <div class="input-group-addon">$</div>
				      <input type="number" min="0" class="form-control" data-ng-model="foodB" id="foodB" placeholder="Amount" required=true>
				      <div class="input-group-addon">.00</div>
				    </div>
				  </div>				  
				</div>

				<span>Miscellaneous:</span>
				<div class="form-inline">
				  <div class="form-group">				  	
				    <label class="sr-only" for="miscB">Amount (in dollars)</label>
				    <div class="input-group">
				      <div class="input-group-addon">$</div>
				      <input type="number" min="0" class="form-control" data-ng-model="miscB" id="miscB" placeholder="Amount" required=true>
				      <div class="input-group-addon">.00</div>
				    </div>
				  </div>				  
				</div>

				<span>Optional Savings:</span>
				<div class="form-inline">
				  <div class="form-group">				  	
				    <label class="sr-only" for="miscB">Amount (in dollars)</label>
				    <div class="input-group">
				      <div class="input-group-addon">$</div>
				      <input type="number" min="0" class="form-control" data-ng-model="optionalB" id="optionalB" placeholder="Amount" required=true>
				      <div class="input-group-addon">.00</div>
				    </div>
				  </div>				  
				</div>

			      </div>
			      <label><i>&nbsp; &nbsp;* Click on "Set Budget" to confirm your changes.</i></label>			      

			      <div class="modal-footer">
			      <div align=center>
			      <div class="form-group">	
			      	<button type="submit" data-target="#budgetSetModal" data-toggle="modal" class="btn btn-success btn-block">Set Budget</button><br/>		        
			        <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Close</button>  
					<div data-ng-show="error" class="text-danger">
						<strong data-ng-bind="error"></strong>
					</div>
			      </div>
			      </div>
			      </div>
			      </form>									      
			    </div>
			  </div>
			</div>


		</div>		
		<div class="col-md-8">					
			<div class="row">			
			<h4>Monthly Expenses</h4>
			<br/>
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalStar">
			  Add Expense
			</button>
			<br/><br/>				
			<accordion class="accordion" close-others="oneAtATime">


								<!-- INCOME & EXPENSE -->
			    <accordion-group is-open="status.open">
			        <accordion-heading>
			           <i class="pull-left glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i>&nbsp;Fixed Expense 
			            <p class="pull-right">Total: $ {{thisMonthFixedExpenseTotal}}</p>
			        </accordion-heading>
							<p ng>You have indicated under the 'Income & Expense' tab a total Fixed Expense of ${{thisMonthFixedExpenseTotal}}</p>
							<p>Add Expenses below to account your expenditure for the month.</p> 
							<table class="form-group table table">
								<tr>
									<th>Details</th>
									<th>Type</th>
									<th>Amount</th>
									<th>Date</th>
									<th></th>									
								</tr>
								<!-- yellow-->
								<tr ng-repeat = "x in feDiffTable" bgcolor="#ffffe5"> 
									<td>Unassigned</td>
									<td>{{x.type}}</td>
									<td>${{x.diff}}</td>
									<td></td>
									<td><button type="button" class="btn btn-danger" ng-click="setFixedExpense()" data-toggle="modal" data-target="#myModal">
									  Assign Expense
									</button>
							        </td>
								</tr>
								
								<tr ng-repeat="item in fixedExpenseTable">
									<td>{{item.detail}}</td>
									<td>{{item.description}}</td>
									<td>${{item.amount}}</td>
									<td>{{item.date}}</td>
									<td>									
										<button type="button" ng-click="standbyForDelete(item,'fixedExpense')" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal10">
				  							<span class="glyphicon glyphicon-remove"></span>
										</button>
									</td>
								</tr>

							</table>


							<!-- Button trigger modal -->
							
							<!-- Modal -->			
							<button type="button" class="btn btn-primary" ng-click="setFixedExpense()" data-toggle="modal" data-target="#myModal">
							  Add Expense
							</button>

							<!--Fixed Expense Modal -->
							
			    </accordion-group>

			    							<!-- TRANSPORT -->

			    <accordion-group is-open="status1.open">
				        <accordion-heading>
				            <i class="pull-left glyphicon" ng-class="{'glyphicon-minus': status1.open, 'glyphicon-plus': !status1.open}"></i>&nbsp;Transport
				            <p class="pull-right">Total: $ {{thisMonthTransportTotal}}</p>
				        </accordion-heading>
						<p ng>You have indicated under the 'Transport' tab a total Expense of ${{thisMonthTransportTotal}}</p>
							<p>Add Expenses below to account your expenditure for the month.</p> 
							<table class="form-group table table">
								<tr>
									<th>Details</th>
									<th>Type</th>
									<th>Amount</th>
									<th>Date</th>
									<th></th>
									
								</tr>
								<tr ng-repeat = "x in tDiffTable" bgcolor="#ffffe5"> 
									<td>Unassigned</td>
									<td>{{x.type}}</td>
									<td>${{x.diff}}</td>
									<td></td>
									<td><button type="button" class="btn btn-danger" ng-click="setTransportExpense()" data-toggle="modal" data-target="#myModal">
									  Assign Expense
									</button>
							        </td>
								</tr>
								<tr ng-repeat="item in transportTable">
									<td>{{item.detail}}</td>
									<td>{{item.description}}</td>
									<td>${{item.amount}}</td>
									<td>{{item.date}}</td>
									<td>
									<button type="button" ng-click="standbyForDelete(item,'transport')" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal10">
				  							<span class="glyphicon glyphicon-remove"></span>
									</button>
									</td>
								</tr>
					
							</table>
							<!-- Button trigger modal -->
							
							<!-- Modal -->			
							<button type="button" ng-click="setTransportExpense()" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
							  Add Expense
							</button>

							
				    </accordion-group>

				    <!-- Utilities & Household maintanence -->

			    <accordion-group is-open="status2.open">
				        <accordion-heading>
				            <i class="pull-left glyphicon" ng-class="{'glyphicon-minus': status2.open, 'glyphicon-plus': !status2.open}"></i>&nbsp;Utilities & Household Maintanence
				            <p class="pull-right">Total: $ {{thisMonthUtilitiesTotal}}</p>
				        </accordion-heading>
						<p ng>You have indicated under the 'Utilities & Household Maintanence' tab a total Expense of ${{thisMonthUtilitiesTotal}}</p>
							<p>Add Expenses below to account your expenditure for the month.</p> 
							<table class="form-group table table">
								<tr>
									<th>Details</th>
									<th>Type</th>
									<th>Amount</th>
									<th>Date</th>
									<th></th>
								</tr>
								<tr ng-repeat = "x in uDiffTable" bgcolor="#ffffe5"> 
									<td>Unassigned</td>
									<td>{{x.type}}</td>
									<td>${{x.diff}}</td>
									<td></td>
									<td><button type="button" class="btn btn-danger" ng-click="setUtilityExpense()" data-toggle="modal" data-target="#myModal">
									  Assign Expense
									</button>
							        </td>
								</tr>
								<tr ng-repeat="item in utilitiesTable">
									<td>{{item.detail}}</td>
									<td>{{item.description}}</td>
									<td>${{item.amount}}</td>
									<td>{{item.date}}</td>
									<td>
									<button type="button" ng-click="standbyForDelete(item,'utility')" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal10">
				  							<span class="glyphicon glyphicon-remove"></span>
									</button>
									</td>
								</tr>
					
							</table>
							<!-- Button trigger modal -->
							
							<!-- Modal -->			
							<button type="button"  ng-click="setUtilityExpense()" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
							  Add Expense
							</button>

							
				    </accordion-group>

				        <!-- Food & Necessities  -->

			    <accordion-group is-open="status3.open">
				        <accordion-heading>
				            <i class="pull-left glyphicon" ng-class="{'glyphicon-minus': status3.open, 'glyphicon-plus': !status3.open}"></i>&nbsp;Food & Neccessities 
				            <p class="pull-right">Total: $ {{thisMonthFoodTotal}}</p>
				        </accordion-heading>
						<p ng>You have indicated under the 'Food & Neccessities' tab a total Expense of ${{thisMonthFoodTotal}}</p>
							<p>Add Expenses below to account your expenditure for the month.</p> 
							<table class="form-group table table">
								<tr>
									<th>Details</th>
									<th>Type</th>
									<th>Amount</th>
									<th>Date</th>
									<th></th>
									
								</tr>
								<tr ng-repeat = "x in fDiffTable" bgcolor="#ffffe5"> 
									<td>Unassigned</td>
									<td>{{x.type}}</td>
									<td>${{x.diff}}</td>
									<td></td>
									<td><button type="button" class="btn btn-danger" ng-click="setFoodExpense()" data-toggle="modal" data-target="#myModal">
									  Assign Expense
									</button>
							        </td>
								</tr>
								<tr ng-repeat="item in foodTable">
									<td>{{item.detail}}</td>
									<td>{{item.description}}</td>
									<td>${{item.amount}}</td>
									<td>{{item.date}}</td>
									<td>
									<button type="button" ng-click="standbyForDelete(item,'food')" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal10">
				  							<span class="glyphicon glyphicon-remove"></span>
									</button>
									</td>
								</tr>
					
							</table>
							<!-- Button trigger modal -->
							
							<!-- Modal -->			
							<button type="button" ng-click="setFoodExpense()" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
							  Add Expense
							</button>

							
				    </accordion-group>

				    <!-- Miscellaneous -->

			    <accordion-group is-open="status4.open">
				        <accordion-heading>
				            <i class="pull-left glyphicon" ng-class="{'glyphicon-minus': status4.open, 'glyphicon-plus': !status4.open}"></i>&nbsp;Miscellaneous 
				            <p class="pull-right">Total: $ {{thisMonthMiscTotal}}</p>
				        </accordion-heading>
						<p ng>You have indicated under the 'Miscellaneous' tab a total Expense of ${{thisMonthMiscTotal}}</p>
							<p>Add Expenses below to account your expenditure for the month.</p> 
							<table class="form-group table table">
								<tr>
									<th>Details</th>
									<th>Type</th>
									<th>Amount</th>
									<th>Date</th>
									<th></th>
									
								</tr>
								<tr ng-repeat = "x in mDiffTable" bgcolor="#ffffe5"> 
									<td>Unassigned</td>
									<td>{{x.type}}</td>
									<td>${{x.diff}}</td>
									<td></td>
									<td><button type="button" class="btn btn-danger" ng-click="setMiscExpense()" data-toggle="modal" data-target="#myModal">
									  Assign Expense
									</button>
							        </td>
								</tr>
								<tr ng-repeat="item in miscTable">
									<td>{{item.detail}}</td>
									<td>{{item.description}}</td>
									<td>${{item.amount}}</td>
									<td>{{item.date}}</td>
									<td>
									<button type="button" ng-click="standbyForDelete(item,'misc')" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal10">
				  							<span class="glyphicon glyphicon-remove"></span>
									</button>
									</td>
								</tr>
					
							</table>
							<!-- Button trigger modal -->
							<button type="button" ng-click="setMiscExpense()" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
							  Add Expense
							</button>

							
				    </accordion-group>

				    <!-- Optional Savings -->

			    <accordion-group is-open="status5.open">
				        <accordion-heading>
				            <i class="pull-left glyphicon" ng-class="{'glyphicon-minus': status5.open, 'glyphicon-plus': !status5.open}"></i>&nbsp;Optional Savings 
				            <p class="pull-right">Total: $ {{thisMonthOptionalTotal}}</p>
				        </accordion-heading>
						<p ng>You have indicated under the 'Optional Savings' tab a total Expense of ${{thisMonthOptionalTotal}}</p>
							<p>Add Expenses below to account your expenditure for the month.</p> 
							<table class="form-group table table">
								<tr>
									<th>Details</th>
									<th>Type</th>
									<th>Amount</th>
									<th>Date</th>
									<th></th>
									
								</tr>
								<tr ng-repeat = "x in oDiffTable" bgcolor="#ffffe5"> 
									<td>Unassigned</td>
									<td>{{x.type}}</td>
									<td>${{x.diff}}</td>
									<td></td>
									<td><button type="button" class="btn btn-danger" ng-click="setOptionalExpense()" data-toggle="modal" data-target="#myModal">
									  Assign Expense
									</button>
							        </td>
								</tr>
								<tr ng-repeat="item in optionalTable">
									<td>{{item.detail}}</td>
									<td>{{item.description}}</td>
									<td>${{item.amount}}</td>
									<td>{{item.date}}</td>
									<td>
									<button type="button" ng-click="standbyForDelete(item,'optionalSavings')" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal10">
				  							<span class="glyphicon glyphicon-remove"></span>
									</button>
									</td>
								</tr>
					
							</table>
							<!-- Button trigger modal -->
							<button type="button" ng-click="setOptionalExpense()" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
							  Add Expense
							</button>

							
				    </accordion-group>

			</accordion>
			<form name="forms.addFixedExpenseForm" data-ng-submit="addNewExpense()">
			<fieldset>
			<div class="modal fade" id="myModal" tabindex="-0" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
				  <div ng-hide="formSubmitted" class="ng-hide">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">New Expense</h4>
			      </div>

			      <div class="modal-body">
				      <div class="row">
					      <div class="col-md-7">
						      	<label>Description:</label>				      
						      	<div class="form-group">									      	
									<input type="text" name="detail" id="detail" data-ng-model="detail" class ="form-control" ng-required="true"/>
								</div>
							</div>
					  </div>
					  <div class="row">
					      	<div class="col-md-7">
						      	<div class="form-group">
							      <label for="type">Type (select one):</label>
							      <select class="form-control" name="type" id="type" data-ng-model="type" ng-required="true">
							        <option ng-repeat="item in selectedExpense">{{item.description}}
							        </option>        
							      </select>
								</div>
							</div>
					  </div>
					  <div class="row">
					      	<div class="col-md-7">
						      	<div class ="form-group">
						      	<label for="expenseAmt">Amount Spent:</label>
	    						<input type="number" min="0" step="any" name="expenseAmt" id="expenseAmt"class ="form-control" data-ng-model="expenseAmt" ng-required="true"/>	</div>
							</div>
					  </div>
					  <div class="row">
					      	<div class="col-md-7">
						      	<p class="input-group">
						      		<label for="date">Date of Expense:</label>
	            					<input type="date" class="form-control" min="{{firstDay}}" max="{{lastDay}}" name="date" id="date" data-ng-model="date" ng-required="true"/>						        
	        					</p>
							</div>
					  </div>
					  <input type="hidden" name="formRef" ng-model="formRef">
			      </div>							      
			      <div class="modal-footer">
			      <div class="form-group">
			        <button type="button" ng-click ="resetModal()" class="btn btn-default" data-dismiss="modal">Cancel
			        </button>
			        <button type="submit" class="btn btn-primary">Create</button>
			        
					<div data-ng-show="error" class="text-danger">
						<strong data-ng-bind="error"></strong>
					</div>
			      </div>
			      </div>
				  </div>	
				  <div ng-show="formSubmitted" class="ng-show">
					  <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">Success!</h4>
				      </div>
					  <div class="modal-body">
					      Expense Added!
					  </div>
					  <div class="modal-footer">
					  <div class="form-group">
				        <button type="button" class="btn btn-success" ng-click="resetModal()" data-dismiss="modal">Dismiss
				        </button>
				       </div>
				      </div>
			      </div>

			    </div>
			  </div>
			</div>
			</fieldset>
			</form>
			<!-- Delete FE-->
			<form name="forms.confirmDelete">
				<fieldset>
				<div class="modal fade" id="myModal10" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">				  					  
						<div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					        <h4 class="modal-title" id="myModalLabel">Warning!</h4>
					      </div>
						  <div class="modal-body">
						      Are you sure you want delete this record?
						  </div>
						  <div class="modal-footer">
						  <div class="form-group">
					        <button type="button" class="btn btn-danger" ng-click="deleteRecord()" data-dismiss="modal">Confirm Delete
					        </button>
					        <button type="button" class="btn btn-default" ng-click="cancelDelete()" data-dismiss="modal">Cancel
					        </button>
					       </div>
					    </div>				      
				    </div>
				  </div>
				</div>
				</fieldset>
			</form>

			</div>
		</div>
	</div>
	<div class="modal fade" id="budgetSetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">                     
      <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Success!</h4>
          </div>
        <div class="modal-body">
            <h4>Budget Set!</h4>                       
        </div>
        <div class="modal-footer">
        <div class="form-group">
            <button type="button" class="btn btn-success" data-dismiss="modal">Dismiss
            </button>
           </div>
        </div>              
      </div>
    </div>
  </div>
  			<form name="forms.addFixedExpenseForm" data-ng-submit="addNewExpense()">
			<fieldset>
			<div class="modal fade" id="myModalStar" tabindex="-0" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
				  <div ng-hide="formSubmitted" class="ng-hide">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">New Expense</h4>
			      </div>

			      <div class="modal-body">
				      <div class="row">
					      <div class="col-md-7">
						      	<label>Description:</label>				      
						      	<div class="form-group">									      	
									<input type="text" name="detail" id="detail" data-ng-model="detail" class ="form-control" ng-required="true"/>
								</div>
							</div>
					  </div>
					  <div class="row">
					      	<div class="col-md-7">
						      	<div class="form-group">
							      <label for="type">Category (select one):</label>
							      <select class="form-control" name="category" id="category" ng-model="category" ng-required="true">
							        <option>Fixed Expense</option>        
							        <option>Transport</option>
							        <option>Utilities & Household Maintanence</option>
							        <option>Food & Neccessities</option>
							        <option>Miscellaneous</option>
							        <option>Optional Savings</option>
							      </select>
								</div>
							</div>
					  </div>
					  <div class="row">
					      	<div class="col-md-7">
						      	<div class="form-group">
							      <label for="type">Type (select one):</label>
							      <select class="form-control" name="type" id="type" data-ng-model="type" ng-required="true">
							        <option ng-repeat="item in selectedExpense">{{item.description}}
							        </option>        
							      </select>
								</div>
							</div>
					  </div>
					  <div class="row">
					      	<div class="col-md-7">
						      	<div class ="form-group">
						      	<label for="expenseAmt">Amount Spent:</label>
	    						<input type="number" min="0" step="any" name="expenseAmt" id="expenseAmt"class ="form-control" data-ng-model="expenseAmt" ng-required="true"/>	</div>
							</div>
					  </div>
					  <div class="row">
					      	<div class="col-md-7">
						      	<p class="input-group">
						      		<label for="date">Date of Expense:</label>
	            					<input type="date" class="form-control" min="{{firstDay}}" max="{{lastDay}}" name="date" id="date" data-ng-model="date" ng-required="true"/>						        
	        					</p>
							</div>
					  </div>
					  <input type="hidden" name="formRef" ng-model="formRef">
			      </div>							      
			      <div class="modal-footer">
			      <div class="form-group">
			        <button type="button" ng-click ="resetModal()" class="btn btn-default" data-dismiss="modal">Cancel
			        </button>
			        <button type="submit" class="btn btn-primary">Create</button>
			        
					<div data-ng-show="error" class="text-danger">
						<strong data-ng-bind="error"></strong>
					</div>
			      </div>
			      </div>
				  </div>	
				  <div ng-show="formSubmitted" class="ng-show">
					  <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">Success!</h4>
				      </div>
					  <div class="modal-body">
					      Expense Added!
					  </div>
					  <div class="modal-footer">
					  <div class="form-group">
				        <button type="button" class="btn btn-success" ng-click="resetModal()" data-dismiss="modal">Dismiss
				        </button>
				       </div>
				      </div>
			      </div>

			    </div>
			  </div>
			</div>
			</fieldset>
			</form>	
 </section>