<section data-ng-controller="FinancesController" class="content" ng-init="current()">
		<ul class="nav nav-tabs nav-justified">
		  <li role="presentation" class="active"><a href="/#!/financialrecord">Overview</a></li>
		  <li role="presentation"><a href="/#!/financialrecord/assets">Assets</a></li>
		  <li role="presentation"><a href="/#!/financialrecord/liabilities">Liabilities</a></li>
		  <li role="presentation"><a href="/#!/financialrecord/incomeExpense">Income & Expense</a></li>
		  <li role="presentation"><a href="/#!/financialrecord/debts">Debt</a></li>
		  <li role="presentation"><a href="/#!/financialrecord/insurances">Insurances</a></li>
		</ul>


	<div class="row">
		<div class="col-sm-12">
			<!-- <h3> Financial Health Summary : <em>{{monthDisplay}}, {{year}} </em></h3> -->
			<h3>Financial Health Summary: </h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-5">
			<form name="dateForm">
			    <div class="form-group">
			    	<div class="row">
			    		<div class=" col-md-4">
			    			<h4>Select Date: </h4>
			    		</div>
					    <div class="col-sm-4" style="padding:0;">
					        <select data-ng-options="m as m for m in monthArr" class="form-control" data-ng-model="selectedMonth" ng-init="selectedMonth = monthArr[month]"></select>
					    </div>
					    <div class="col-sm-4">
					        <input type="number" class="form-control" data-ng-model="selectedYear" ng-init="selectedYear = year">
					    </div>				    		
			    	</div>
			    </div>
			</form>
			<div data-ng-show="recordAssetFound" class="text-danger">
				<strong data-ng-bind="recordAssetFound"></strong>
			</div>
			<div class="col-sm-12">
				</br>
			</div>
			<div class="col-sm-12">
				<table class="table table-striped">
					<tr>
						<th class="col-sm-8">Total Monthly Assets: </th>
						<td class="col-sm-3"> $ {{displayOverview.totalAssets}}</td>
						<td class="col-sm-1"><input type="checkbox" ng-model="checkTotal.assets"></td>
					</tr>
					<tr>
						<th class="col-sm-8">Total Monthly Liabilities: </th>
						<td class="col-sm-3"> $ {{displayOverview.totalLiabilities}}</td>
						<td class="col-sm-1"><input type="checkbox" ng-model="checkTotal.liabilities"></td>
					</tr>
					<tr>
						<th class="col-sm-8">Total Net Worth (Assets - Liabilities): </th>
						<td class="col-sm-3"> $ {{displayOverview.netWorth}}</td>
						<td class="col-sm-1"><input type="checkbox" ng-model="checkTotal.netWorth"></td>
					</tr>
					<tr>
						<th class="col-sm-8">Total Monthly Income: </th>
						<td class="col-sm-3"> $ {{displayOverview.monthlyIncome}}</td>
						<td class="col-sm-1"><input type="checkbox" ng-model="checkTotal.monthlyIncome"></td>
					</tr>
					<tr>
						<th class="col-sm-8">Total Monthly Expense: </th>
						<td class="col-sm-3"> $ {{displayOverview.monthlyExpense}}</td>
						<td class="col-sm-1"><input type="checkbox" ng-model="checkTotal.monthlyExpense"></td>
					</tr>
					<tr>
						<th class="col-sm-8">Total Net Gross Income (Income - Expense): </th>
						<td class="col-sm-3"> $ {{displayOverview.totalNetGrossIncome}}</td>
						<td class="col-sm-1"><input type="checkbox" ng-model="checkTotal.netGrossIncome"></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="col-sm-7">
				<div class="row">
						<div class="col-sm-8 text-right" >
							<h4>Displaying For: </h4>
						</div>
			  			<div class="col-sm-4 pull-right">
							<select ng-model="selectedChartOption" class="form-control">
								<option value="0">Past 3 months</option>
								<option value="1">Past 6 months</option>
								<option value="2">Past 12 months</option>
							</select>
						</div>							
				</div>
				<canvas id="ratioChart" class="chart chart-line" data="dataOverview" labels="labelsOverview" legend="true" series="seriesOverview" options="{bezierCurve:false}"></canvas> 
		</div>
	</div>	
</section>